<table class="diff_table">
<%-
count = 0
item.marc.all_tags.each do |tag|
editor_profile = EditorConfiguration.get_show_layout item

    tag = tag.diff if tag.diff && tag.diff.diff_is_deleted 
    is_inserted_tag = (!tag.diff && !tag.diff_is_deleted) 
    is_deleted_tag = (!tag.diff && tag.diff_is_deleted) 

    tag.each do |subfield|
        next if subfield.has_children?

        subfield_diff_content = true if (!subfield.diff || (subfield.content != subfield.diff.content))

        if subfield_diff_content
            subfield_diff_content_new = subfield.content != nil ? subfield.content.to_s : ""
            subfield_diff_content_old = ""
            if subfield.diff
                subfield_diff_content_old = subfield.diff.content.to_s
            elsif subfield.diff_is_deleted || is_deleted_tag 
                subfield_diff_content_old = subfield.content != nil ? subfield.content.to_s : ""
                subfield_diff_content_new = ""
            end

            label = editor_profile.get_sub_label(tag.tag, subfield.tag).include?("unspecified") ? "" : editor_profile.get_sub_label(tag.tag, subfield.tag)

            diff = Differ.diff_by_word(subfield_diff_content_new, subfield_diff_content_old)
            %>
            <tr <%= count % 2 == 0 ? "style='background-color: #f0f0f0;'".html_safe : "style='background-color: #fafafa;'".html_safe %> >
                <th class="diff_header"><%= label %></th>
                <td class="diff_tag"><%= "[#{tag.tag}#{subfield.tag}]"%></td>
                <td class="diff_contents"><%=diff.format_as(:html).html_safe%></td>
            </tr>
            <%count += 1%>
        <%- end %>
    <%- end %>
<%- end %>
</table>
