<%
   t_tag = tag.fetch_first_by_tag(:x).content rescue t_tag = ""
	db_id = tag.fetch_first_by_tag(0).content rescue db_id = ""
-%>
<tr class="row">
	<th>
		<% if (no_label == false) -%>
			<%= @editor_profile.get_label(tag.tag) %>
		<%- end %>
	</th>
	<td>
		<% if opac %>
			<%= link_to t_tag, institution_index_path(:search_field => "any_field", :q => institution)%>
		<% elsif is_selection_mode?%>
			<%= t_tag %>
		<% else %>
			<%= link_to t_tag, admin_institution_path(db_id) -%>
		<% end %>
	</td>
</tr>
