<div class="panel">
	<h3><%=(I18n.t :digital_objects)%></h3>
	<div class="panel_contents">
		<div class="row text-center digital_object_row">
			<%- @item.digital_objects.each do |obj| %>
			<%- next if !obj.attachment_file_size %>
			<div class="col-xs-12 col-sm-6 col-md-4 digital_object_col">
				<a class="lightbox" data-title="<%= obj.description -%>" data-gallery="digital_object_gallery" href="<%= obj.attachment.url(:original) -%>">
					<img class="img-responsive img-thumbnail" src="<%= obj.attachment.url(:medium) -%>" />
				</a>
			</div>
			<%- end %>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).delegate('.lightbox', 'click', function(event) {
	    event.preventDefault();
	    $(this).ekkoLightbox();
	});
</script>