config/application.rb
config/database.yml
config/solr.yml
development.log
/tmp
/log
/solr/default/data
/solr/pids
/solr/development/data
solr/production/data
solr/second
solr/test
solr/default
log/sunspot-solr-development.log
vendor/assets/stylesheets/muscat-custom.scss
spec/examples.txt
.idea
help.sh
.DS_Store
system
/doc
.yardoc/
db/schema.rb
*/Gemfile.lock
public/help/default
playground/
