config/application.rb
config/database.yml
config/solr.yml
config/sunspot.yml
development.log
/tmp
/log
/solr/default
/solr/pids
log/sunspot-solr-development.log
vendor/assets/stylesheets/muscat-custom.scss

.idea
help.sh
.DS_Store
