config/application.rb
config/database.yml
config/solr.yml
development.log
/solr/default/data
/solr/pids
/solr/development/data
solr/production/data
solr/second
solr/test
solr/default
log/sunspot-solr-development.log
vendor/assets/stylesheets/muscat-custom.scss
public/assets
public/help
spec/examples.txt
.idea
help.sh
.DS_Store
system

# Ignore encrypted secrets key file.
config/secrets.yml.key

# Ignore master key for decrypting credentials and more.
/config/master.key
/config/credentials.yml.enc

db/test.sqlite3

# SAML related config files
config/attribute-map.yml
config/initializers/devise_saml_authenticatable.rb
app/views/active_admin/devise/sessions/new.html.erb
