[submodule "public/help"]
	path = public/help
	url = https://github.com/rism-ch/muscat-guidelines.git
	branch = master
	ignore = dirty
[submodule "housekeeping/maintenance"]
  path = housekeeping/maintenance
  url = https://github.com/rism-international/muscat-maintenance.git
