<!-- Overridden to handle translations -->

<div class='panel panel-default'>
    <div class="panel-heading">
        Consigli per la ricerca
    </div>
    <div class="panel-body">
        <p class="search-tip">
            Selezionare "tutti i campi" per rendere tutti i campi obbligatori.
        </p>
        <p class="search-tip">
            Selezionare "qualsiasi campo" in modo che almeno un campo sia presente.
        </p>
        <p class="search-tip">
            Combinare parole chiave ed attributi per cercare elementi specifici.
        </p>
        <p class="search-tip">
            Racchiudere frasi da cercare intere tra doppi apici.
        </p>
        <p class="search-tip">
            Aggiungere "+" davanti ad un termine per renderlo obbligatorio (altrimenti saranno inclusi risultati che corrispondono ad almeno uno dei termini inclusi).
        </p>
        <p class="search-tip">
            Aggiungere "-" davanti a una parola o frase per escluderla.
        </p>
        <p class="search-tip">
            Usare "OR", "AND" e "NOT" per creare ricerche booleane complesse. Sono accettate parentesi per racchiudere le espressioni.
        </p>
        <p class="search-tip">
            Troncamento e caratteri jolly non sono supportati, il troncamento è eseguito automaticamente.
        </p>
    </div>
</div>
