<!-- Overridden to handle translations -->

<div class='card card-default'>
    <div class="card-header">
        Search Tips
    </div>
    <div class="card-body">
        <p class="search-tip">
            Select "match all" to require all fields.
        </p>
        <p class="search-tip">
            Select "match any" to find at least one field.
        </p>
        <p class="search-tip">
            Combine keywords and attributes to find specific items.
        </p>
        <p class="search-tip">
            Use quotation marks to search as a phrase.
        </p>
        <p class="search-tip">
            Use "+" before a term to make it required. (Otherwise results matching only some of your terms may be included).
        </p>
        <p class="search-tip">
            Use "-" before a word or phrase to exclude.
        </p>
        <p class="search-tip">
            Use "OR", "AND", and "NOT" to create complex boolean logic. You can use parentheses in your complex expressions.
        </p>
        <p class="search-tip">
            Truncation and wildcards are not supported - word-stemming is done automatically.
        </p>
    </div>
</div>
