<!-- Overridden to handle translations -->

<div class='panel panel-default'>
    <div class="panel-heading">
        Suchtipps
    </div>
    <div class="panel-body">
        <ul class="advanced-help">
            <li>Wählen Sie "alle Eigenschaften", um in allen Feldern zu suchen.
            </li>
            <li>Wählen Sie "irgendeine Eigenschaft", um in mindestens einem Feld zu suchen.
            </li>
            <li>Kombinieren Sie Suchbegriffe und Eigenschaften, um bestimmte Einträge zu finden.
            </li>
            <li>Benutzen Sie Anführungszeichen, um ganze Sätze oder Phrasen zu suchen.
            </li>
            <li>Geben Sie ein "+" vor einem erforderlichen Begriff ein. (Ansonsten werden Treffer eingezeigt, die nur einige Ihrer Suchbegriffe beinhalten).
            </li>
            <li>Geben Sie ein "-" vor einem Wort oder Phrase, um sie auszuschliessen.
            </li>
            <li>Benutzen Sie die Booleschen Operatoren "OR", "AND" und "NOT", um komplexe Verknüpfungen darzustellen. Sie können Klammern in Ihrer Sucheingabe benutzen.
            </li>
            <li>Trunkierung und Platzhalter werden nicht unterstützt, die Trunkierung ist automatisiert.
            </li>
        </ul>
    </div>
</div>
