<!-- Overridden to handle translations -->

<div class='panel panel-default'>
    <div class="panel-heading">
        Suchtipps
    </div>
    <div class="panel-body">
        <p class="search-tip">
            Wählen Sie "alle Eigenschaften", um in allen Feldern zu suchen.
        </p>
        <p class="search-tip">
            Wählen Sie "irgendeine Eigenschaft", um in mindestens einem Feld zu suchen.
        </p>
        <p class="search-tip">
            Kombinieren Sie Suchbegriffe und Eigenschaften, um bestimmte Einträge zu finden.
        </p>
        <p class="search-tip">
            Benutzen Sie Anführungszeichen, um ganze Sätze oder Phrasen zu suchen.
        </p>
        <p class="search-tip">
            Geben Sie ein "+" vor einem erforderlichen Begriff ein. (Ansonsten werden Treffer eingezeigt, die nur einige Ihrer Suchbegriffe beinhalten).
        </p>
        <p class="search-tip">
            Geben Sie ein "-" vor einem Wort oder Phrase, um sie auszuschliessen.
        </p>
        <p class="search-tip">
            Benutzen Sie die Booleschen Operatoren "OR", "AND" und "NOT", um komplexe Verknüpfungen darzustellen. Sie können Klammern in Ihrer Sucheingabe benutzen.
        </p>
        <p class="search-tip">
            Trunkierung und Platzhalter werden nicht unterstützt, die Trunkierung ist automatisiert.
        </p>
    </div>
</div>

