<!-- Overridden to handle translations -->

<div class='card card-default'>
    <div class="card-header">
        Conseils pour la recherche
    </div>
    <div class="card-body">
        <p class="search-tip">
            Choisir "à tous" pour rendre tous les critères obligatoires.
        </p>
        <p class="search-tip">
            Choisir "au moins un des" pour les résultats correspondant à un critère au moins.
        </p>
        <p class="search-tip">
            Combiner mots clé et attributs pour rechercher des éléments spécifiques.
        </p>
        <p class="search-tip">
            Utiliser des guillemets pour des phrases.
        </p>
        <p class="search-tip">
            Ajouter un "+" devant un terme pour le rendre obligatoire. (Sinon les résultats correspondant à au moins un critère seront retournés).
        </p>
        <p class="search-tip">
            Ajouter un "-" devant un terme pour l'exclure.
        </p>
        <p class="search-tip">
            Utiliser "OR", "AND", et "NOT" pour une recherche booléenne complexe. Des parenthèses peuvent être utilisées si nécessaire.
        </p>
        <p class="search-tip">
            Les troncatures et de les caractères génériques ne sont pas supportés - le mot découlant est pris en compte automatiquement.
        </p>
    </div>
</div>
