<!-- Overridden to handle translations -->

<div class='panel panel-default'>
    <div class="panel-heading">
        Consigli per la ricerca
    </div>
    <div class="panel-body">
        <ul class="advanced-help">
            <li>Selezionare "tutti i campi" per rendere tutti i campi obbligatori.
            </li>
            <li>Selezionare "qualsiasi campo" in modo che almeno un campo sia presente.
            </li>
            <li>Combinare parole chiave ed attributi per cercare elementi specifici.
            </li>
            <li>Racchiudere frasi da cercare intere tra doppi apici.
            </li>
            <li>Aggiungere "+" davanti ad un termine per renderlo obbligatorio (altrimenti saranno inclusi risultati che corrispondono ad almeno uno dei termini inclusi).
            </li>
            <li>Aggiungere "-" davanti a una parola o frase per escluderla.
            </li>
            <li>Usare "OR", "AND" e "NOT" per creare ricerche booleane complesse. Sono accettate parentesi per racchiudere le espressioni.
            </li>
            <li>Troncamento e caratteri jolly non sono supportati, il troncamento è eseguito automaticamente.
            </li>
        </ul>
    </div>
</div>
