
//$primary: #47476b;
//$primary: #333399;
//$primary: #264d73;
$primary: #23486B;
$primary: #1B4E7D;
//$primary: #424242;
//$primary: #3d3d5c;
//$primary: #4d3219;

$light-panel-bg: lighten($primary, 66%);