<%
  content = []
  group = []
  root = tag.parent

  root.each_by_tag(tag.tag) { |t| group << t }

  group.each do |t|
    a_tag = t.fetch_first_by_tag("a")
    two_tag = t.fetch_first_by_tag("2")

    next unless a_tag&.content && two_tag&.content

    identifier = two_tag.content.strip
    id_value   = a_tag.content.strip
    url        = IdentifierLink.generate_url(identifier, id_value)

    if url
      content << link_to("#{identifier}: #{id_value}", url, target: "_blank")
    else
      content << "#{identifier}: #{id_value}"
    end
  end
%>

<% if tag == group.first %>
  <tr class="row">
    <th valign="top">
      <% unless no_label %>
        <%= @editor_profile.get_label(tag.tag) %>
      <% end %>
    </th>
    <td valign="top">
      <%= content.uniq.join(", ").html_safe %>
    </td>
  </tr>
<% end %>