<%
   lng = tag.fetch_first_by_tag(:d).content rescue "[NO VALUE GIVEN]"
   lat = tag.fetch_first_by_tag(:f).content rescue "[NO VALUE GIVEN]"
   #FIXME Needs better validation
   #validates lng, numericality: { greater_than_or_equal_to: -90,  less_than_or_equal_to: 90 }
   #validates lat, numericality: { greater_than_or_equal_to: -180, less_than_or_equal_to: 180 }
-%>
<tr class="row">
	<th>
	  <% if (no_label == false) -%>
	      <%= @editor_profile.get_label(tag.tag) %>
	  <%- end %>
	</th>
   <td>
     <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{lat},#{lng}&zoom=14&size=400x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:red%7Clabel:1%7C#{lat},#{lng}"
   %>
	</td>
</tr>
