<%
	b_tag = tag.fetch_first_by_tag(:b)
	c_tag = tag.fetch_first_by_tag(:c)
	#next if !b_tag || !b_tag.content || b_tag.content == ""
	content = b_tag&.content.to_s
	content += " (#{c_tag.content})" if c_tag&.content.to_s != ""
-%>
<tr class="row">
	<th>
		<%= @editor_profile.get_label(tag.tag) %>
	</th>
	<td>
		<%= content %>
	</td>
</tr>

