<%- group_tags = item.marc.by_tags(group[:tags]) %>

<% unless group_tags.empty? -%>

	<div class="panel">
		<h3><%= group[:title] %></h3>
		<div class="panel_contents">
			<div class="attributes_table">
				<table border="0" cellpadding="0" cellspacing="0">

				<%- group_values = @item.marc.all_values_for_tags_with_subtag(group[:tags], group[:subfield_grouping]) %>
				
				<!-- tags with "Material X" $3 -->
				<%- group_values.each do |m| %>
					<%- material_tags = item.marc.by_tags_with_subtag(group[:tags], group[:subfield_grouping], m) %>
					<% unless material_tags.empty? -%>
						<tr class="row">
							<td colspan="2"><%= "Group #{m}" %></td>				    
						</tr>
						<%= render :partial => "marc_show/show_tags", :locals => { :tags => material_tags, :templates => group[:tag_templates], :opac => opac } %>		
					<% end -%>
				<% end -%>
				</table>
			</div>
		</div>
	</div>
	
<% end -%>