<%
    a_tag = tag.fetch_first_by_tag(:a)
	subject = (a_tag ? a_tag.looked_up_content : "")
	master_tag = @item.marc.config.get_master(tag.tag) rescue master_tag = ""
	db_id = tag.fetch_first_by_tag(master_tag).content rescue db_id = ""
-%>
<tr class="row">
	<th>
		<% if (no_label == false) -%>
			<%= @editor_profile.get_sub_label(tag.tag, "a") %>
		<%- end %>
	</th>
	<td>
		<% if opac %>
			<%= link_to subject, search_catalog_path(:search_field => "subject", :q => subject) %>
		<% elsif is_selection_mode?%>
			<%= subject%>
		<% else %>
			<%= link_to subject, admin_standard_term_path(db_id) %>
		<% end %>
	</td>
</tr>