<%
    t_tag = tag.fetch_first_by_tag(:t)
    g_tag = tag.fetch_first_by_tag(:g)
	catalogue = (t_tag ? t_tag.looked_up_content : "")
	page = (g_tag ? g_tag.looked_up_content : "")
	master_tag = @item.marc.config.get_master(tag.tag) rescue master_tag = ""
	db_id = tag.fetch_first_by_tag(master_tag).content rescue db_id = ""
-%>
<tr class="row">
	<th>
		<% if (no_label == false) -%>
			<%= @editor_profile.get_label(tag.tag) %>
		<%- end %>
	</th>
	<td>
		<% if opac %>
			<%= link_to catalogue, catalog_index_path(:search_field => "any_field", :q => catalogue)%>
		<% elsif is_selection_mode?%>
			<%= "#{catalogue} #{page}"%>
		<% else %>
      <%= link_to "#{catalogue} #{page}", admin_catalogue_path(db_id) -%>
		<% end %>
	</td>
</tr>
