<%
subfield_a = tag.fetch_first_by_tag('a').content rescue ""
subfield_x = tag.fetch_first_by_tag('x')
subfield_q = "[#{tag.fetch_first_by_tag('q').content}]" rescue ""	
subfield_c = tag.fetch_first_by_tag('c').content rescue ""	

-%>
<% content = "#{subfield_a} #{subfield_c} #{subfield_q}"%>
<tr class="row">
	<th>
		<% if (no_label == false) -%>
      <%=  I18n.t('holding_records') %>
		<%- end %>
	</th>
  <td>
    <% if subfield_a %>
      <% if subfield_x && subfield_x.content %>
        <% if current_user.can_edit?(@item) || current_user.has_any_role?(:editor, :admin) %>
          <%=link_to(content, edit_admin_holding_path(@item.id))%>
        <%else %>
          <%= content %>

          <% end %>
      <% else %>
        <%= subfield_a %>
      <% end %>
    <% end %>
	</td>
</tr>
