<%-
  content = Array.new
  group=Array.new
  root=tag.parent
  root.each_by_tag(tag.tag) do |t| group<< t end
  group.each do |t|
    a_tag = t.fetch_first_by_tag("a")
    two_tag = t.fetch_first_by_tag("2")
    if a_tag && two_tag && a_tag.content && two_tag.content
      if two_tag.content == "DNB"
        content << link_to("DNB: " + a_tag.content, "http://d-nb.info/gnd/"+a_tag.content, :target => "_blank") if (a_tag && a_tag.content)
      elsif two_tag.content == "VIAF"
        content << link_to("VIAF: " + a_tag.content, "http://viaf.org/viaf/"+a_tag.content, :target => "_blank") if (a_tag && a_tag.content)
      elsif two_tag.content == "ICCU"
        content << link_to("ICCU: " + a_tag.content, "https://opac.sbn.it/opacsbn/opac/iccu/scheda_authority.jsp?bid=IT%5cICCU%5c"+a_tag.content, :target => "_blank") if (a_tag && a_tag.content)
      elsif two_tag.content == "WKP"
        content << link_to("Wikidata: " + a_tag.content, "https://www.wikidata.org/wiki/"+a_tag.content, :target => "_blank") if (a_tag && a_tag.content)
      else
        content << "#{two_tag.content}: #{a_tag.content}"
      end
    end
  end
-%>

<% if tag==group.first %>
  <tr class="row">
	<th valign="top">
		<% if (no_label == false) -%>
			<%= @editor_profile.get_label(tag.tag) %>
		<%- end %>
	</th>
	<td valign="top">
    <%= content.uniq.join(', ').html_safe %>
	</td>
  </tr>
<%end%>


