<%
  t_tag = tag.fetch_first_by_tag(:w)
	catalogue = (t_tag ? t_tag.looked_up_content : "")
  external_title = "#{Catalogue.find(t_tag.content).description rescue catalogue}"

-%>
<tr class="row">
	<th>
		<% if (no_label == false) -%>
			<%= @editor_profile.get_label(tag.tag) %>
		<%- end %>
	</th>
	<td>
		<% if opac %>
			<%= link_to catalogue, search_catalog_path(:search_field => "any_field", :q => catalogue)%>
		<% elsif is_selection_mode?%>
			<%= "#{external_title}"%>
		<% else %>
      <%= link_to "#{external_title}", admin_catalogue_path(catalogue) -%>
		<% end %>
	</td>
</tr>
