<% unless @item.referring_catalogues.empty? %>
  <% if @item.referring_catalogues.first.marc.has_tag?("785") %>
    <div class="panel">
      <h3><%= group[:title] %></h3>
      <div class="panel_contents">
        <div class="attributes_table">
          <table border="0" cellpadding="0" cellspacing="0">
            <tr class="row">
              <th>
                <%= @editor_profile.get_sub_label("780", "t") %>
              </th>
              <td valign="top">
                <% @item.referring_catalogues.each do |e| %>
                  <%e.marc.each_by_tag("785") do |tag| %>
                    <% external_id = tag.fetch_first_by_tag("w").content rescue nil %>
                    <% if external_id == @item.id %>
                      <%= link_to e.description, admin_catalogue_path(e.id)%>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  <% end %>
<% end %>


