<%
    tag0 = tag.fetch_first_by_tag("0").content rescue tag0 = "not set"
    tagd = tag.fetch_first_by_tag("d").content rescue tagd = "not set"
	view_link_function = "admin_#{@item.class.to_s.underscore.downcase}_path"
-%>
<tr class="row">
	<th valign="top">
		<%= @editor_profile.get_label(tag.tag) %>
	</th>
	<td valign="top">
		<%= link_to( tag0, send(view_link_function, tag0)) %>, <%=tagd%>
	</td>
</tr>
