<%- 
	tags = item.marc.by_tags_with_order(["856"])
-%>

<%- tags.each do |tag|

	number_u = tag.fetch_first_by_tag('u')
	number_x = tag.fetch_first_by_tag('x')	
	number_z = tag.fetch_first_by_tag('z')	
	
	next if !number_x || !number_x.content || number_x.content != "IIIF"
	next if !number_u || !number_u.content
	
	random_string = SecureRandom.hex
-%>

	<div id="<%= random_string -%>"></div>
	<script type="text/javascript">
		$(document).ready(function() {
			window.viewer = $('#<%= random_string -%>').diva({
				enableAutoHeight: true,
				fixedHeightGrid: false,
				objectData: "<%= number_u.content -%>",
				enableCanvas: true,
				enableDownload: true,
				enableAutoTitle: false
			}).data('diva');

		});
	</script>

<%- end %>
