<%
subfield_a = tag.fetch_first_by_tag('a')
subfield_x = tag.fetch_first_by_tag('x')	
subfield_c = tag.fetch_first_by_tag('c')	

-%>
<tr class="row">
	<th>
		<% if (no_label == false) -%>
			<%= @editor_profile.get_label(tag.tag) %>
		<%- end %>
	</th>
  <td>
    <% if subfield_a && subfield_a.content %>
      <% if subfield_x && subfield_x.content %>
        <% if !is_selection_mode?%>
          <%=link_to(subfield_a.content, admin_institution_path(subfield_x.content.to_s)) + " #{subfield_c.content if subfield_c && subfield_c.content}"%>
        <%else%>
          <%= "#{subfield_a.content} #{subfield_c.content if subfield_c && subfield_c.content}"%>
        <%end%>
      <% else %>
        <%= subfield_a.content%>
      <% end %>
    <% end %>
	</td>
</tr>
