<h3>Muscat Maintainance Report</h3>
<i>Note</i> the includes all authority files that had at least one souce with non-matching values, and it triggers a resave of all the sources of the authority.
        <p>
            <b>Authority files that triggered resave: </b><%=ap(@models).html_safe%><br>
            <b>Saved sources: </b><%=@saved_source_count%><br>
            <% if @unsavable_sources.count > 0 %>
            <b>Could not save these sources: <b><%=@unsavable_sources.join(" ")%><br>
                    <%end%>
        </p>
        <h6><%=@message%>