<% if @top_siglas %>
<% dta = {labels: @top_siglas.keys,
       datasets: [   {
      label: "Monthly",
      fillColor: "rgba(220,220,220,0.2)",
      hoverBackgroundColor: [
        '#cc0000',
        '#004d99',
        '#cca300',
        '#006622',
        '#cc5200',
        '#ff3377'

      ],
      backgroundColor: [
        '#ff0000',
        '#0066cc',
        '#ffcc00',
        '#009933',
        '#ff6600',
        '#ff6699'
      ],
      strokeColor: "#1B4E7D",
      pointColor: "rgba(220,220,220,1)",
      pointStrokeColor: "#fff",
      pointHighlightFill: "#fff",
      pointHighlightStroke: "rgba(220,220,220,1)",
      data: @top_siglas.values},  ] }
%>
<div style="margin-right: auto">
  <canvas id="pie" data-chart='<%= dta.to_json %>' data-chart-type="pie"/>
</div>
<%else%>
There seem to be no sources using this Person
<%end%>
