<% s = Statistics::Person.libraries([@item]) %>
<% pie = Statistics::Spreadsheet.new(s).to_chart rescue nil  %>

<% return 0 unless pie %>
<% dta = {labels: pie.keys,
       datasets: [   {
      label: "Monthly",
      fillColor: "rgba(220,220,220,0.2)",
      hoverBackgroundColor: [
        '#cc0000',
        '#004d99',
        '#cca300',
        '#006622',
        '#cc5200',
        '#ff3377'

      ],
      backgroundColor: [
        '#ff0000',
        '#0066cc',
        '#ffcc00',
        '#009933',
        '#ff6600',
        '#ff6699'
      ],
      strokeColor: "#1B4E7D",
      pointColor: "rgba(220,220,220,1)",
      pointStrokeColor: "#fff",
      pointHighlightFill: "#fff",
      pointHighlightStroke: "rgba(220,220,220,1)",
      data: pie.values},  ] }
%>
<div style="margin-right: auto">
  <canvas id="pie"/>
</div>

<%= javascript_tag do %>
  var data = <%= dta.to_json.html_safe %>
  var pie =  new Chart($("#pie"), {type: 'pie', data: data});
<% end %>




