<%
    ref_tag = tag.fetch_first_by_tag("w").content rescue ref_tag = nil
    ## Also try in $0
    if !ref_tag
      ref_tag = tag.fetch_first_by_tag("0").content rescue ref_tag = nil
    end
    a_tag = tag.fetch_first_by_tag("a").content rescue a_tag = " "
    b_tag = tag.fetch_first_by_tag("b").content rescue b_tag = " "

#	content = Array.new
#	content << i_tag.content if i_tag && i_tag.content
#	content << a_tag.content if a_tag && a_tag.content	
-%>
<tr class="row">
	<th>
		<% if (no_label == false) -%>
			<%= @editor_profile.get_label(tag.tag) %>
		<%- end %>
	</th>
	<td>
      <%= link_to a_tag, admin_catalogue_path(ref_tag.to_s) if ref_tag %>
      <%= ": " + b_tag if b_tag%>
	</td>
</tr>


