<%
    ref_tag = tag.fetch_first_by_tag("0")
    a_tag = tag.fetch_first_by_tag("a")
    i_tag = tag.fetch_first_by_tag("9")

#	content = Array.new
#	content << i_tag.content if i_tag && i_tag.content
#	content << a_tag.content if a_tag && a_tag.content	
-%>
<tr class="row">
	<th>
		<% if (no_label == false) -%>
			<%= @editor_profile.get_label(tag.tag) %>
		<%- end %>
	</th>
	<td>
      <%= link_to a_tag.content+" ["+i_tag.content+"]", ref_tag.content.to_s %>
	</td>
</tr>


