<%
    u_tag = tag.fetch_first_by_tag("u").content rescue u_tag = ""
    y_tag = tag.fetch_first_by_tag("y").content rescue y_tag = ""
  
-%>
<tr class="row">
	<th>
		<% if (no_label == false) -%>
			<%= @editor_profile.get_label(tag.tag) %>
		<%- end %>
	</th>
	<td>
    <%= y_tag + ": " %>
    <%= link_to u_tag, u_tag, :target => "_blank"   %>
	</td>
</tr>


