<%
    a_tag = tag.fetch_first_by_tag("a").content rescue ""
    j_tag = tag.fetch_first_by_tag("j").content rescue ""

-%>
<tr class="row">
	<th>
		<% if (no_label == false) -%>
			<%= @editor_profile.get_label(tag.tag) %>
		<%- end %>
	</th>
	<td>
    <%= "#{a_tag} [#{j_tag}]" %>
	</td>
</tr>


