<% if respond_to?(:holding_filter) && holding_filter%>
    <% match = @item.holdings.select {|h| h.lib_siglum.start_with?(holding_filter)}.sort_by(&:lib_siglum)%>
    <% others = @item.holdings.select {|h| !h.lib_siglum.start_with?(holding_filter)}.sort_by(&:lib_siglum)%>

    <h3>Sources</h4>
    <%= render :partial => "holdings/show_opac_holdings_list", :locals => {holdings: match } %> 

    <% if others.count > 1%>
        <h3>Other Sources</h4>
        <%= render :partial => "holdings/show_opac_holdings_list", :locals => {holdings: others } %> 
    <%end%>

<%else%>
    <h3>Exemplar Information</h4>
    <%= render :partial => "holdings/show_opac_holdings_list", :locals => {holdings: @item.holdings.sort_by(&:lib_siglum) } %> 
<%end%>