<% stats = item.works_statistics %>


Works with incipits
<div class="modification_bar">
  <div class="modification_bar_content" data-version-modification="<%= 100 - stats[:incipits] %>" class="version_modification">&nbsp;</div>
</div>

<hr/>

Works with GND link
<div class="modification_bar">
  <div class="modification_bar_content" data-version-modification="<%= 100 - stats[:dnb] %>" class="version_modification">&nbsp;</div>
</div>
