<p>
    Ceci fait partie de <i><%= @item.source.title %></i> qui contient <strong><%= @total_items %></strong> éléments.
</p>
<p>
    Cet élément est le numéro <strong><%= @item.source_order %></strong>
</p>
