<p>
    Esto forma parte de <i><%= @item.source.title %></i>, que tiene <strong><%= @total_items %></strong> elementos.
</p>
<p>
    Este elemento es el número <strong><%= @item.source_order %></strong>
</p>
