<p>
    To jest część <i><%= @item.source.std_title %></i>, który zawiera <strong><%= @total_items %></strong> elementów.
</p>
<p>
    Ten element ma numer <strong><%= @display_position %></strong>
</p>
