<p>
    Això forma part de <i><%= @item.source.std_title %></i>, que té <strong><%= @total_items %></strong> elements.
</p>
<p>
    Aquest element és el número <strong><%= @display_position %></strong>
</p>
