<p>
    Questo fa parte di <i><%= @item.source.title %></i> che ha <strong><%= @total_items %></strong> elementi.
</p>
<p>
    Questo elemento è il numero <strong><%= @display_position %></strong>
</p>
