<p>
    Això forma part de <i><%= @item.source.title %></i>, que té <strong><%= @total_items %></strong> elements.
</p>
<p>
    Aquest element és el número <strong><%= @item.source_order %></strong>
</p>
