<p>
    Dies ist Teil von <i><%= @item.source.std_title %></i>, das <strong><%= @total_items %></strong> Elemente enthält.
</p>
<p>
    Dieses Element ist Nummer <strong><%= @display_position %></strong>
</p>
