<p>
    Ceci fait partie de <i><%= @item.source.std_title %></i> qui contient <strong><%= @total_items %></strong> éléments.
</p>
<p>
    Cet élément est le numéro <strong><%= @display_position %></strong>
</p>
