
:version:
  :name: tag_config
  :current: 2.0
  :authors: ["Rodolfo Zitellini"]

:model: holding
:tags:
  "000":
    :master: ""
    :indicator: ""
    :occurrences: "1"
    :fields:
    - - ""
      - :no_browse: true
  "001":
    :master: ""
    :indicator: ""
    :occurrences: "1"
    :zero_padding: "14"
    :fields:
    - - ""
      - :no_browse: true
  "003":
    :master: ""
    :indicator: ""
    :occurrences: "1"
    :fields:
    - - ""
      - :no_browse: true
  "035":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
  "300":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "*"
    - - b
      - :occurrences: "*"
    - - c
      - :occurrences: "?"
    - - "8"
      - :occurrences: "?"
        :no_browse: true
  "500":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
        :browse_helper: application_helper_link_http
    - - "8"
      - :occurrences: "?"
        :no_browse: true
  "506":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
  "518":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
  "541":
    :master: a
    :indicator: "1#"
    :occurrences: "?"
    :fields:
    - - a
      - :occurrences: "?"
    - - c
      - :occurrences: "?"
    - - d
      - :occurrences: "?"
    - - e
      - :occurrences: "?"
  "561":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
  "563":
    :master: u
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
  "591":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
  "592":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
    - - "8"
      - :occurrences: "?"
        :no_browse: true
  "593":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
    - - "8"
      - :occurrences: "?"
        :no_browse: true
  "599":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
    - - b
      - :occurrences: "?"
  "651":
    :master: "0"
    :indicator: "#7"
    :occurrences: "*"
    :fields:
    - - "0"
      - :occurrences: "?"
        :foreign_class: Place
        :foreign_field: id
        :no_show: true
    - - a
      - :occurrences: "?"
        :foreign_class: ^0
        :foreign_field: name
    - - "2"
      - :occurrences: "?"
        :no_browse: true
        # value must be added during exportation
  "691":
    :master: "0"
    :indicator: "#7"
    :occurrences: "*"
    :fields:
    - - "0"
      - :occurrences: "?"
        :foreign_class: Catalogue
        :foreign_field: id
        :no_show: true
    - - a
      - :occurrences: "?"
        :foreign_class: ^0
        :foreign_field: name
    - - n
      - :occurrences: "?"
 
  "700":
    :master: "0"
    :indicator: "1#"
    :occurrences: "*"
    :fields:
    - - "0"
      - :occurrences: "?"
        :foreign_class: Person
        :foreign_field: id
        :no_show: true
    - - a
      - :occurrences: "?"
        :foreign_class: ^0
        :foreign_field: full_name
    - - d
      - :occurrences: "?"
        :browse_inline: true
        :foreign_class: ^0
        :foreign_field: life_dates
        :foreign_alternates: alternate_dates
    - - j
      - :occurrences: "?"
    - - "4"
      - :occurrences: "*"
        :browse_inline: true
    - - "8"
      - :occurrences: "?"
        :no_browse: true
  "710":
    :master: "0"
    :indicator: "2#"
    :occurrences: "*"
    :fields:
    - - "0"
      - :occurrences: "?"
        :foreign_class: Institution
        :foreign_field: id
        :no_show: true
    - - a
      - :occurrences: "?"
        :foreign_class: ^0
        :foreign_field: name
    - - b
      - :occurrences: "*"
    - - c
      - :occurrences: "*"
    - - g
      - :occurrences: "?"
    - - "4"
      - :occurrences: "*"
    - - "8"
      - :occurrences: "?"
        :no_browse: true
 
  "852":
    :master: "x"
    :indicator: "##"
    :occurrences: "?"
    :fields:
    - - "x"
      - :occurrences: "?"
        :foreign_class: Institution
        :foreign_field: id
        :no_show: true
    - - a
      - :occurrences: "1"
        :foreign_class: ^x
        :foreign_field: siglum
#        :browse_helper: application_helper_link_to_library
        :no_browse: true
    - - b
      - :occurrences: "?"
    - - c
      - :occurrences: "?"
    - - d
      - :occurrences: "*"
    - - e
      - :occurrences: "?"
        :foreign_class: ^x
        :foreign_field: name
        :disable_create_lookup: true
    - - q
      - :occurrences: "*"
    - - z
      - :occurrences: "*"
  "856":
    :master: u
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - u
      - :occurrences: "*"
        :browse_helper: application_helper_link_http
    - - x
      - :occurrences: "?"
    - - z
      - :occurrences: "*"
    - - "8"
      - :occurrences: "?"
        :no_browse: true
  "963":
    :master: u
    :indicator: "##"
    :occurrences: "?"
    :fields:
    - - u
      - :occurrences: "?"
  "973":
    :master: "u"
    :indicator: "##"
    :occurrences: "?"
    :fields:
    - - "u"
      - :occurrences: "?"
        :foreign_class: Source
        :foreign_field: id
