
:version:
  :name: tag_config
  :current: 3.3
  :authors: ["Chad Thatcher", "Sandra Tuppen", "Laurent Pugin", "Rodolfo Zitellini"]


# NOTES FOR "tags" SECTION:
#
# The ":dependency:" field indicates a subtags reliance and function according to its parent.  Values are:
# false (no parent for this subtag.  Used for "a" or "" subtags or other subtags that are independant of other subtags)
# true  (must be in addition to parent subtag, cannot exist without it)
#
# Subtag ":occurrences:" fields are always within context of thier parent subtag.  In the case of parent sutags ("a", "" (blank)
# and some "w" tags) this defines the repetition attributes for the whole tag
#
# 0 (none. used only to keep tag/subtag configurations that are unused and therefore discarded on import)
# ? (none or one. this subtag need not be present, but at most only one occurance may exist)
# 1 (one occurance must exist. no more than one is allowed)
# + (one or more must exist.  at least one occurance must be present, more occurrences are allowed)
# * (none or more. none, one or many may exist)
#
# >where a tag or subtag is repeatable, there shouldn't be an upper limit on number of repeats allowed,
# >so I've amended all the values in the max_occur fields to "0".
# max_occur has now been removed entirely
#
# *DEPRECATED AND REMOVED* The "max_occur:" field is used in conjunction with the '+' or '*' ":occurrences:"
# field values to limit the number of occurrences to the specified maximum value.  A value of 0 inidicates
# and unlimited number of occurrences.  Only set this value to a positive number if it is absolutely
# necessary to set an upper limit on the number of occurrences of this subtag.
#
# >ST NOTE: TAGS 000 to 008
# >These are different from all the later tags in that they don't have any subtags (not even "a").
# >So should the master for each be changed to "" instead of a?
# This has now been corrected
#
# The ":export_as:" field specifies the mandatory value for a subtag on an export.  The subtag is only
# exported if both ":occurrences:" is set to "0" and this value is present.  This applies only to dependent
# subtags (i.e. not "a" subtags).
#
# "index" fields specify which marc fields are included in the fulltext ferret index when a record is
# inserted or updated in the masters table. See search_config.X.X.yml for more details on search functionality
# and the fulltext index.

:model: source
:tags:
  "000":
    :master: ""
    :indicator: ""
    :occurrences: "1"
    :fields:
    - - ""
      - :no_browse: true
  "001":
    :master: ""
    :indicator: ""
    :occurrences: "1"
    :zero_padding: "14"
    :fields:
    - - ""
      - :no_browse: false
  "003":
    :master: ""
    :indicator: ""
    :occurrences: "1"
    :fields:
    - - ""
      - :no_browse: true
  "005":
    :master: ""
    :indicator: ""
    :occurrences: "1"
    :fields:
    - - ""
      - :no_browse: true
  "008":
    :master: ""
    :indicator: ""
    :occurrences: "1"
    :fields:
    - - ""
      - :no_browse: true
  "026":
    :master: a
    :indicator: "##"
    :occurrences: "?"
    :fields:
    - - a
      - :occurrences: "1"
    - - b
      - :occurrences: "1"
    - - c
      - :occurrences: "1"
    - - d
      - :occurrences: "?"
    - - e
      - :occurrences: "1"
  "028":
    :master: a
    :indicator: "20"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
    - - "8"
      - :occurrences: "?" 
        :no_browse: true
  "031":
    :master: t
    :master_optional: true
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
    - - b
      - :occurrences: "?"
    - - c
      - :occurrences: "?"
    - - d
      - :occurrences: "*"
    - - e
      - :occurrences: "?"
    - - g
      - :occurrences: "?"
    - - m
      - :occurrences: "?"
    - - n
      - :occurrences: "?"
    - - o
      - :occurrences: "?"
    - - p
      - :occurrences: "?"
    - - q
      - :occurrences: "*"
    - - r
      - :occurrences: "?"
    - - s
      - :occurrences: "*"
    - - t
      - :occurrences: "*"
        :link_to_model: StandardTitle
        :link_to_field: title
    - - u
      - :occurrences: "?"
        :no_browse: true
    - - z
      - :occurrences: "*"
  "033":
    :master: a
    :indicator: ["0#", "1#", "2#"]
    :occurrences: "*"
    :disable_multiple: true
    :fields:
    - - a
      - :occurrences: "*"
        :no_browse: true
    - - "8"
      - :occurrences: "?"
        :no_browse: true
  "035":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
  "040":
    :master: a
    :indicator: "##"
    :occurrences: "1"
    :fields:
    - - a
      - :occurrences: "1"
        :no_browse: true
    - - b
      - :occurrences: "1"
    - - d
      - :occurrences: "?"
        :no_browse: true
  "041":
    :master: a
    :indicator: ["0#", "1#"]
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "*"
    - - e
      - :occurrences: "*"
    - - h
      - :occurrences: "*"
  "100":
    :master: "0"
    :indicator: "1#"
    :occurrences: "?"
    :fields:
    - - "0"
      - :occurrences: "?"
        :foreign_class: Person
        :foreign_field: id
        :no_show: true
    - - a
      - :occurrences: "?"
        :foreign_class: ^0
        :foreign_field: full_name
    - - d
      - :occurrences: "?"
        :browse_inline: true
        :foreign_class: ^0
        :foreign_field: life_dates
        :foreign_alternates: alternate_dates
    - - j
      - :occurrences: "?"
  "240":
    :master: "0"
    :indicator: "10"
    :occurrences: "?"
    :fields:
    - - "0"
      - :occurrences: "?"
        :foreign_class: StandardTitle
        :foreign_field: id
        :no_show: true
    - - a
      - :occurrences: "?"
        :foreign_class: ^0
        :foreign_field: title
    - - k
      - :occurrences: "?"
    - - m
      - :occurrences: "*"
    - - o
      - :occurrences: "?"
    - - r
      - :occurrences: "?"
  "245":
    :master: a
    :indicator: "10"
    :occurrences: "1"
    :fields:
    - - a
      - :occurrences: "1"
  "246":
    :master: a
    :indicator: "2#"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
  "260":
    :master: a
    :indicator: "##"
    :occurrences: "+"
    :fields:
    - - a
      - :occurrences: "*"
    - - b
      - :occurrences: "1"
    - - c
      - :occurrences: "1"
    - - e
      - :occurrences: "?"
    - - f
      - :occurrences: "?"
    - - "8"
      - :occurrences: "?"
        :no_browse: true
  "300":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "*"
    - - b
      - :occurrences: "*"
    - - c
      - :occurrences: "?"
    - - "8"
      - :occurrences: "?"
        :no_browse: true
  "340":
    :master: d
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - d
      - :occurrences: "*"
    - - m
      - :occurrences: "*"
    - - "8"
      - :occurrences: "?"
        :no_browse: true
  "383":
    :master: b
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - b
      - :occurrences: "*"
  "500":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
        :browse_helper: application_helper_link_http
    - - "8"
      - :occurrences: "?"
        :no_browse: true
  "505":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
  "506":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
  "508":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
  "510":
    :master: a
    :indicator: "2#"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
    - - c
      - :occurrences: "?"
  "511":
    :master: a
    :indicator: "0#"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
  "518":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
  "520":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
  "525":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
  "541":
    :master: a
    :indicator: "1#"
    :occurrences: "?"
    :fields:
    - - a
      - :occurrences: "?"
    - - c
      - :occurrences: "?"
    - - d
      - :occurrences: "?"
    - - e
      - :occurrences: "?"
  "546":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
  "561":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
  "563":
    :master: u
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
    - - u
      - :occurrences: "?"
    - - "8"
      - :occurrences: "?"
        :no_browse: true
  "588":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
  "590":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
    - - b
      - :occurrences: "?"
    - - "8"
      - :occurrences: "?"
        :no_browse: true
  "591":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
  "592":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
    - - "8"
      - :occurrences: "?"
        :no_browse: true
  "593":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :disable_multiple: true
    :fields:
    - - a
      - :occurrences: "?"
    - - "8"
      - :occurrences: "?"
        :no_browse: true
  "594":
    :master: b
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - b
      - :occurrences: "?"
    - - c
      - :occurrences: "?"
  "595":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
    - - u
      - :occurrences: "?"
  "596":
    :master: c
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
    - - b
      - :occurrences: "?"
    - - c
      - :occurrences: "?"
  "597":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
  "598":
    :master: ""
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
    - - b
      - :occurrences: "*"
    - - c
      - :occurrences: "*"
    - - d
      - :occurrences: "*"
    - - e
      - :occurrences: "*"
    - - f
      - :occurrences: "?"
    - - g
      - :occurrences: "?"
    - - h
      - :occurrences: "?"
    - - i
      - :occurrences: "*"
    - - k
      - :occurrences: "*"
    - - l
      - :occurrences: "*"
    - - m
      - :occurrences: "*"
    - - n
      - :occurrences: "?"
  "599":
    :master: a
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
    - - b
      - :occurrences: "?"
  "650":
    :master: "0"
    :indicator: "07"
    :occurrences: "*"
    :fields:
    - - "0"
      - :occurrences: "?"
        :foreign_class: StandardTerm
        :foreign_field: id
        :no_show: true
    - - a
      - :occurrences: "?"
        :foreign_class: ^0
        :foreign_field: term
    - - "2"
      - :occurrences: "?"
        :no_browse: true
        # value must be added during exportation
  "651":
    :master: "0"
    :indicator: "#7"
    :occurrences: "*"
    :fields:
    - - "0"
      - :occurrences: "?"
        :foreign_class: Place
        :foreign_field: id
        :no_show: true
    - - a
      - :occurrences: "?"
        :foreign_class: ^0
        :foreign_field: name
    - - "2"
      - :occurrences: "?"
        :no_browse: true
        # value must be added during exportation
  "657":
    :master: "0"
    :indicator: "#7"
    :occurrences: "*"
    :fields:
    - - "0"
      - :occurrences: "?"
        :foreign_class: LiturgicalFeast
        :foreign_field: id
        :no_show: true
    - - a
      - :occurrences: "?"
        :foreign_class: ^0
        :foreign_field: name
    - - "2"
      - :occurrences: "?"
        :no_browse: true
        # value must be added during exportation
  "690":
    :master: "0"
    :indicator: "#7"
    :occurrences: "*"
    :fields:
    - - "0"
      - :occurrences: "?"
        :foreign_class: Catalogue
        :foreign_field: id
        :no_show: true
    - - a
      - :occurrences: "?"
        :foreign_class: ^0
        :foreign_field: name
    - - n
      - :occurrences: "?"
  "691":
    :master: "0"
    :indicator: "#7"
    :occurrences: "*"
    :fields:
    - - "0"
      - :occurrences: "?"
        :foreign_class: Catalogue
        :foreign_field: id
        :no_show: true
    - - a
      - :occurrences: "?"
        :foreign_class: ^0
        :foreign_field: name
    - - n
      - :occurrences: "?"
  "700":
    :master: "0"
    :indicator: "1#"
    :occurrences: "*"
    :fields:
    - - "0"
      - :occurrences: "?"
        :foreign_class: Person
        :foreign_field: id
        :no_show: true
    - - a
      - :occurrences: "?"
        :foreign_class: ^0
        :foreign_field: full_name
    - - d
      - :occurrences: "?"
        :browse_inline: true
        :foreign_class: ^0
        :foreign_field: life_dates
        :foreign_alternates: alternate_dates
    - - j
      - :occurrences: "?"
    - - "4"
      - :occurrences: "*"
        :browse_inline: true
    - - "8"
      - :occurrences: "?"
        :no_browse: true
  "710":
    :master: "0"
    :indicator: "2#"
    :occurrences: "*"
    :fields:
    - - "0"
      - :occurrences: "?"
        :foreign_class: Institution
        :foreign_field: id
        :no_show: true
    - - a
      - :occurrences: "?"
        :foreign_class: ^0
        :foreign_field: name
    - - b
      - :occurrences: "*"
    - - c
      - :occurrences: "*"
    - - g
      - :occurrences: "?"
    - - "4"
      - :occurrences: "*"
    - - "8"
      - :occurrences: "?"
        :no_browse: true
  "730":
    :master: "0"
    :indicator: "0#"
    :occurrences: "*"
    :fields:
    - - "0"
      - :occurrences: "?"
        :foreign_class: StandardTitle
        :foreign_field: id
        :no_show: true
    - - a
      - :occurrences: "?"
        :foreign_class: ^0
        :foreign_field: title
    - - g
      - :occurrences: "?"
    - - k
      - :occurrences: "?"
    - - m
      - :occurrences: "*"
    - - n
      - :occurrences: "*"
    - - o
      - :occurrences: "?"
    - - r
      - :occurrences: "?"
  "740":
     :master: "a"
     :indicator: "0#"
     :occurrences: "*"
     :fields:
     - - a
       - :occurrences: "?"
     - - n
       - :occurrences: "*"
     - - p
       - :occurrences: "*"
  "773":
    :master: w
    :indicator: "18"
    :occurrences: "?"
    :fields:
    - - w
      - :occurrences: "1"
        :foreign_class: Source
        :foreign_field: id
        :zero_padding: "14"
        :browse_helper: application_helper_link_source_id
  "774":
    :master: w
    :indicator: "18"
    :occurrences: "*"
    :fields:
    - - w
      - :occurrences: "1"
        :browse_helper: application_helper_link_source_id
    - - "4"
      - :occurrences: "1"
  "775":
    :master: w
    :indicator: "##"
    :occurrences: "?"
    :fields:
    - - w
      - :occurrences: "1"
        :foreign_class: Source
        :foreign_field: id
        :zero_padding: "14"
        :browse_helper: application_helper_link_source_id
  "787":
    :master: a
    :indicator: "18"
    :occurrences: "*"
    :fields:
    - - g
      - :occurrences: "*"
        :no_browse: true
    - - n
      - :occurrences: "*"
        :no_browse: true
    - - s
      - :occurrences: "?"
        :no_browse: true
    - - w
      - :occurrences: "*"
        :browse_helper: application_helper_link_source_id
  "852":
    :master: "x"
    :indicator: "##"
    :occurrences: "?"
    :fields:
    - - "x"
      - :occurrences: "?"
        :foreign_class: Institution
        :foreign_field: id
        :no_show: true
    - - a
      - :occurrences: "1"
        :foreign_class: ^x
        :foreign_field: siglum
        :browse_helper: application_helper_link_to_library
    - - b
      - :occurrences: "?"
    - - c
      - :occurrences: "?"
    - - d
      - :occurrences: "*"
    - - e
      - :occurrences: "?"
        :foreign_class: ^x
        :foreign_field: name
        :disable_create_lookup: true
    - - u
      - :occurrences: "?"
    - - z
      - :occurrences: "*"
  "856":
    :master: u
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - u
      - :occurrences: "?"
        :browse_helper: application_helper_link_http
    - - x
      - :occurrences: "?"
    - - z
      - :occurrences: "?"
    - - "8"
      - :occurrences: "?"
        :no_browse: true
  "930":
    :master: "0"
    :indicator: "1#"
    :occurrences: "?"
    :fields:
    - - "0"
      - :occurrences: "?"
        :foreign_class: Work
        :foreign_field: id
        :no_show: true
    - - a
      - :occurrences: "?"
        :foreign_class: ^0
        :foreign_field: title
  "980":
    :master: ""
    :indicator: "##"
    :occurrences: "*"
    :fields:
    - - a
      - :occurrences: "?"
    - - b
      - :occurrences: "*"
    - - c
      - :occurrences: "*"
 
