<% chart = @statistic_sources.to_chart %>
<% dta = {labels: @statistic_sources.header,
       datasets: [   {
      label: "Monthly",
      fillColor: "rgba(220,220,220,0.2)",
      borderWidth: "2",
      borderColor: "#1B4E7D",


      strokeColor: "#1B4E7D",
      pointColor: "rgba(220,220,220,1)",
      pointStrokeColor: "#fff",
      pointHighlightFill: "#fff",
      pointHighlightStroke: "rgba(220,220,220,1)",
      data: chart.values},  ] }
%>
<div style="margin-right: auto">
  <canvas id="chart" data-chart='<%= dta.to_json %>' data-chart-type="line"/>
</div>
