<%  def to_chart(hash)
x={labels: hash.keys.map{|t| (Time.now + t.month).strftime("%Y-%m") },
       datasets: [   {
      label: "Monthly",
      fillColor: "rgba(220,220,220,0.2)",
      borderWidth: "4",
      borderColor: "#1B4E7D",


      strokeColor: "#1B4E7D",
      pointColor: "rgba(220,220,220,1)",
      pointStrokeColor: "#fff",
      pointHighlightFill: "#fff",
      pointHighlightStroke: "rgba(220,220,220,1)",
      data: hash.values},  ] }
    return x.to_json
  end
%>
<div style="margin-left: 50px; margin-right: auto">
  <canvas id="chart" />
</div>

<%= javascript_tag do %>
  var data = <%= to_chart(@result).html_safe %>
  var pie =  new Chart($("#chart"), {type: 'line', data: data});
<% end %>

