<%  def to_chart(hash)
x={labels: hash.keys.map{|t| t.name },
       datasets: [   {
      label: "Monthly",
      fillColor: "rgba(220,220,220,0.2)",
      hoverBackgroundColor: [
        '#cc0000',
        '#004d99',
        '#cca300',
        '#006622',
        '#cc5200',
        '#ff3377'

      ],
      backgroundColor: [
        '#ff0000',
        '#0066cc',
        '#ffcc00',
        '#009933',
        '#ff6600',
        '#ff6699'
      ],
      strokeColor: "#1B4E7D",
      pointColor: "rgba(220,220,220,1)",
      pointStrokeColor: "#fff",
      pointHighlightFill: "#fff",
      pointHighlightStroke: "rgba(220,220,220,1)",
      data: hash.values},  ] }
    return x.to_json
  end
%>
<div style="margin-left: 50px; margin-right: auto">
  <canvas id="pie" height="444" width="400"/>
</div>

<%= javascript_tag do %>
  var data = <%= to_chart(@wg).html_safe %>
  var pie =  new Chart($("#pie"), {type: 'pie', data: data});
<% end %>




