
# Version 2 - For SOLR and Muscat 3

config:
    :version: 2.0
    :model: institution

fields:  
    "043c_filter":
      :from_tag: "043"
      :from_subtag: "c"
      :index_helper: marc_helper_get_country
    "110g_filter":
      :store: true
      :type: string
      :as: "110g_text"
    "110g_facet":
      :type: text
      :from_tag: "110"
      :from_subtag: "g"
      :as: "110g_facet_sm"