
# Version 2 - For SOLR and Muscat 3

config:
    :version: 2.0
    :model: publication

fields:  
    "001":
    "008":
    "100a":
    "100d":
    "210a":
    "240a":
    "240g":
    "260a":
    "260b":
    "260c":
    "400a":
    "700a":
    "7004":
    "710a":
    "760g": 
    "760t":
    "7600":
    "100a_or_700a":
      :index_processor_helper: marc_create_aggregated_text
      :tags:
        :100: "a"
        :700: "a"
      :store: true
      :type: text
