
# Version 2 - For SOLR and Muscat 3
# Note: the default store type is TEXT
# WHich means it is tokenized
# For facets and untokenized filtering
# use string (or integer)

config:
    :version: 2.0
    :model: source

fields:  
  "001":
  "028a":
  "031p":
      :store: true
  "031t_filter":
      :store: true
      :type: string
      :from_tag: "031"
      :from_subtag: "t"
  "035a":
      :holding_record: true
  "130a":
      :store: true
      :type: string
  "130n":
      :store: true
  "240a_filter":
      :store: true
      :type: string
      :from_tag: "240"
      :from_subtag: "a"
  "240m_filter":
      :type: string
      :from_tag: "240"
      :from_subtag: "m"
  "240n":
      :store: true
  "240r":
      :store: true
  "260c_year":
       :type: integer
       :store: true
       :from_tag: "260"
       :from_subtag: "c"
       :index_processor_helper: :marc_extract_dates
  "500a":
      :holding_record: true
  "510a":
      :type: string
      :store: true
  "510c":
      :type: text
  "518a":
      :holding_record: true
  "561a":
      :holding_record: true
  "563a":
      :holding_record: true
  "591a":
      :holding_record: true
  "592a":
      :holding_record: true
  "593a":
      :store: true
  "593a_filter":
      :type: string
      :from_tag: "593"
      :from_subtag: "a"
  "593b_filter":
      :type: string
      :from_tag: "593"
      :from_subtag: "b"
  "594b":
      :store: true
      :type: string
  "599a":
      :holding_record: true
  "651a":
      :holding_record: true
  "650a_filter":
      :type: string
      :from_tag: "650"
      :from_subtag: "a"
  "700a":
      :holding_record: true
  "710a":
      :holding_record: true
  "730a_filter":
      :type: string
      :from_tag: "730"
      :from_subtag: "a"
  "774w":
    :index_processor_helper: marc_index_774_field
    :type: text
  "852a_facet":
      :type: text ## hack for sunspot: make this field work as fulltext
      :from_tag: "852"
      :from_subtag: "a"
      :as: "852a_facet_sm" # But set it manually as string multiple
      :holding_record: true
  "852a":
      :holding_record: true
  "852b":
      :holding_record: true
  "852c":
      :store: true
      :holding_record: true
  "852d":
      :holding_record: true
  "852e":
      :holding_record: true
  "852q":
      :holding_record: true
  "852z":
      :holding_record: true
  "856x":
      :type: string
  "856x":
      :type: string
      :holding_record: true
  "publisher":
    :index_processor_helper: marc_extract_publisher
    :store: true
    :type: text
  "973u":
    :holding_record: true
  "bookid_string":
    :index_processor_helper: marc_extract_bookid
    :store: true
    :as: "bookid_sms"
