
# Version 2 - For SOLR and Muscat 3

config:
    :version: 2.0
    :model: work

fields:  
    "0242_filter":
      :type: string
      :from_tag: "024"
      :from_subtag: "2"
    "100d":
      :type: text 
    "100d_birthdate":
      :from_tag: "100"
      :from_subtag: "d"
      :index_helper: :marc_helper_get_birthdate
    "100d_deathdate":
      :from_tag: "100"
      :from_subtag: "d"
      :index_helper: :marc_helper_get_deathdate
    "383b":
      :type: string
    "690a":
      :type: string
      :stored: true
    "690n":
      :type: string
      :stored: true
    "699a":
      :type: string
      :stored: true