
# Version 2 - For SOLR and Muscat 3

config:
    :version: 2.0
    :model: person

fields:  
    "001":
    "008":
    "035a":
    "039a":
    "040a":
    "040b":
    "040c":
    "040d":
    "043a": 
    "043b":
    "043c":
    "100a":
    "100d":
      :type: text 
    "100d_birthdate":
      :from_tag: "100"
      :from_subtag: "d"
      :index_helper: :marc_helper_get_birthdate
    "100d_deathdate":
      :from_tag: "100"
      :from_subtag: "d"
      :index_helper: :marc_helper_get_deathdate
    "374a":
    "400a":
    "400d": 
    "5099":
    "549a":
    "551a": 
    "667a":
      :type: text
    "670a":
    "670b":
    "670u":  
    "678a": 
    "678b":
    "678u":	
    "680a": 
    "680i":
    "6805":	
    "684a": 
    "674j":
