
# Version 2 - For SOLR and Muscat 3

config:
    :version: 2.0
    :model: institution

fields:  
    "043c_filter":
      :from_tag: "043"
      :from_subtag: "c"
      :index_helper: marc_helper_get_country
    "094a":
      :store: true
      :type: string
    "094z":
      :store: true
      :type: string
    "094a_facet":
      :type: text
      :from_tag: "094"
      :from_subtag: "a"
      :as: "094a_facet_sm"
    "368a":
      :store: true
      :type: string
    "580x":
    "667a":