
# Version 2 - For SOLR and Muscat 3

config:
    :version: 2.0
    :model: person

fields:  
    "024a":
      :index_processor_helper: marc_index_make_024_person
      :type: string
    "100d":
      :type: text 
    "100d_birthdate":
      :from_tag: "100"
      :from_subtag: "d"
      :index_helper: :marc_helper_get_birthdate
    "100d_deathdate":
      :from_tag: "100"
      :from_subtag: "d"
      :index_helper: :marc_helper_get_deathdate
    "550a":
      :store: true
      :type: string
    "551a": 
    "667a":
      :type: text
