
# Version 2 - For SOLR and Muscat 3

config:
    :version: 2.0
    :model: publication

fields:
    "240g":
      :type: string
    "100a":
    "100a_or_700a":
      :index_processor_helper: marc_create_aggregated_text
      :tags:
        :100: "a"
        :700: "a"
      :store: true
      :type: text
    "260b":
    "505t":
      :store: true
      :type: string
    "700a":
    "7600":
