<div id="content" class="col-md-9 col-sm-8 show-document">
    <div id="back" class="pagination-search-widgets">
        <%= link_back_to_catalog class: 'btn' %>
    </div>

    An email will be sent to: <%= params[:email] %> 
    
</div>
