<%
    email = current_user ? current_user.email : ""
%>

<div id="content" class="col-md-9 col-sm-8 show-document">
    <div id="back" class="pagination-search-widgets">
        <%= link_back_to_catalog class: 'btn' %>
    </div>

    <% if !params[:q] && !params[:search_field] && !params[:f]%>
        Please perform a search to download records in Marc format.
    <%else%>
        <%= form_tag('/catalog/download', {:method => :get}) do %>
            <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:page)) %>

            <p>A compressed archive with the requested export in marc forma will be generated. This will take
            approximately 10 minutes and a download link will be sent to your provided email address.</p>

            <% if current_user %>
                You appear to be already logged in Muscat, please confirm you email address or enter another one.
            <%end%>

            <div class="input-group">
                <%= text_field_tag :email, email, placeholder: "Please enter your email", class: "form-control", id: "email"%>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" id="submit">
                        <span class="submit-search-text">Export</span>
                    </button>
                </span>
            </div>

        <% end %>
    <%end%>
    
</div>