<%-	
	tag_params = @editor_profile.options_config[tag_name]["tag_params"]

	data = []

	tag_params["groups"].each do |key, values| 
		data << {'When' => key,'Value' => '', 'Text' => '--- Function ---'}
		values.each do |code|
			data << {'When' => key, 'Value' => code,'Text' => @editor_profile.get_label(code).gsub(/([\\\"])/, ' ')}
		end
	end
	data << {'When' => '-', 'Value' => '', 'Text' => '---'}
%>

<div data-select-code-list="<%= data.to_json %>"></div>