<footer class="footer fixed-bottom">
    <div class="container">
        <div class="rism-footer-text d-none">
            <%= RISM::FOOTER.html_safe -%>
        </div>
    </div>
</footer>
<%= render 'shared/analytics' %>