<footer class="navbar-fixed-bottom">
    <div class="container">
        <div class="rism-footer-text hidden-xs">
            <%= RISM::FOOTER.html_safe -%>
        </div>
    </div>
</footer>
<%= render 'shared/analytics' %>