<%-
	model = self.resource_class.to_s.underscore.downcase
%>
<ul>
	<%- if !is_selection_mode? %>
	
		<%- if (self.controller.respond_to? :new) && (can? :create, model) -%>
			<li class="muscat_icon_link">
				<%= link_to("#{I18n.t :new}", send("new_admin_#{model}_path"),
					:class => "muscat_icon_link muscat_icon_link_new") %>
			</li>
		<%else %>
			<li><%= (I18n.t :no_action) -%></li>
		<%- end %>
		
	<%- else %>
	
		<li class="muscat_icon_link">
			<%= link_to("#{I18n.t :cancel}", "#",
				:class => "muscat_icon_link muscat_icon_link_cancel", :data => { :marc_editor_cancel => "cancel"}) %>
		</li>
		
	<%- end %>
</ul>
