<div class="panel tabpanel">
	<h3>Version <%= @guidelines.version.html_safe -%></h3>
	<div class="guidelines_panel_content">
		<div class="guidelines">
	    <%= @guidelines.output.html_safe -%>
	    </div>
	</div>
</div>