<ul class="guidelines_sidebar">
	<%- @guidelines.sidebar.each do |chapter| %>
		<%- if chapter[0] %>
		<li class="guidelines_chapter"><%= link_to( chapter[0].html_safe, admin_guidelines_path( anchor: chapter[1])) %></li>
		<%- elsif chapter[1] %>
			<%- chapter[1].each do |section| %>
				<li class="guidelines_section"><%= link_to( section[0].html_safe, admin_guidelines_path( anchor: section[1])) %></li>
			<%- end %>
		<%- end %>
	<%- end %>
</ul>
