@use "sass:color";


// This is a sample file for a custom CSS for muscat.
// The file needs to be copied to ./vendor/assets/stylesheets/muscat-custom.scss

// RISM-CH color
//$primary-color: #6E3621 !default;

// RISM-ZR color
$primary-color: #1B4E7D !default;

$table-stripe-color: color.adjust($primary-color, $lightness: 70%, $space: hsl) !default;
$link-color: $primary-color !default;

// Reset it to the active admin default color
$section-header-text-color: #5E6469 !default;

// Navbar text
$rismNavbarTextColor: #ddd;

$catalogBackgroundColor: #F4F3F1; // gray5