<!-- Overridded to customize welcom page -->

<div style="float: right; margin: 25px 0px 10px 30px;" class="hidden-sm hidden-xs">
    <img src="/images/magnifier.jpg" alt="magnifier">
</div>

<h3 class="welcome">Opzioni di ricerca</h3>

<p>
La ricerca semplice viene utilizzata per trovare espressioni cercando in tutti i campi. Può produrre, come nei motori di ricerca in Internet, molti risultati. Utilizzando questi come base è possibile rifinire la ricerca utilizzando i criteri disponibili direttamente nella pagina dei risultati.
</p>

<p class="welcome-tip">Se si inseriscono più parole nel campo sono visualizzati soltanto i risultati contenenti <strong>tutte</strong> le parole immesse.</p>

<p class="welcome-tip">Frasi intere o parziali devono essere scritte tra virgolette, per es.: <strong>"benedictus dominus"</strong>.</p>

<p class="welcome-tip">Queste opzioni possono essere combinate. Per es. <strong>"Ave Maria" CH-E</strong> fornisce la lista delle fonti della biblioteca del monastero di Einsiedeln che contengono <em>Ave Maria</em>.</p>

<p class="welcome-tip">Per i caratteri non ASCII, come per es. le parole in cirillico, la ricerca funziona a patto che le due versioni (originale e traslitterata) siano state inserite nella banca dati. Per es. kalinka e калинка forniscono il medesimo risultato.</p>


<h4>Ricerca avanzata</h4>

<p>La <a href="/advanced">ricerca avanzata</a> permette di raggiungere rapidamente dei risulati se già ha una precisa idea di cosa cercare nella banca dati.</p>