<!-- Overridded to customize welcom page -->

<p class="demo-tip">
	Si prega di notare che questo sito è una demo. Se avete bisogno di fare riferimento al suo contenuto, vi consigliamo di cercare nel catalogo <a href="http://www.rism.info" target="_blank">RISM</a> e di utilizzare i link permanenti.
</p>

<div style="float: right; margin: 25px 0px 10px 30px;" class="hidden-sm hidden-xs">
		<a href="https://www.uu.nl/en/organisation/department-of-information-and-computing-sciences" target="_blank">
		<img src="/images/utrecht.png">
	</a>
</div>

<h4>Ricerca negli incipit con similarità melodica</h4>

<p>
Questa installazione dimostrativa di Muscat permette di effettuare ricerche tra i record RISM che contengono incipit. Utilizza l'applicazione <a class="underline" href="https://www.projects.science.uu.nl/monochord/risma2/about" target="_blank">Monochord</a>, un motore di ricerca sviluppato all'università di Utrecht. In confronto al <a class="underline" href="/advanced">motore di ricerca incipit originale</a> presente in Muscat, basato su Themefinder, questo sistema opera in una maniera più “musicalmente informata”. Per esempio si possono trovare elementi che si differenziano solamente per piccoli dettagli - una cosa che è facile per un essere umano, ma molto più difficile da ottenere con una macchina usante solo una query Themefinder relativamente semplice. Tutte le ricerche presentate in questa pagina infatti, eseguite con Themefinder, ottengolo solo un risultato (loro stesse), o una manciata di risultati uguali nota per nota. Utilizzando il nuovo sistema, invece, si ottengono dei risultati molto più significativi.
</p>
<p>
	La query di input è combinata con ognuno degli incipit presenti nel dataset, dandogli una classifica. I primi 50 risultati sono presentati quindi all'utente, ordinati in questa classifica (risultato più elevato = corrispondenza migliore).
</p>
<p>
	Utilizzando gli strumenti di rifinitura della ricerca a sinistra è possibile scorrere un sottoinsieme del dataset RISM, contentente solo i record con incipit musicale.
</p>
<p>
	Fare click sull'incona blu della ricerca per avviare un demo live non la nuova funzionalità sperimentale di ricerca incipit! Per ogni esempio verrà mostrata una lista di incipit similari che non sarebbe possibile trovare con Themefinder o un algoritmo ordinario di ricerca.
</p>

<%= render 'incipits_example' %>

<div class="text-center">
	Esempi di incipit RISM leggermente diversi sul tema <em>Ah vous dirai-je maman</em> e la relativa ricerca in Muscat.
</div>

<p>&nbsp;</p>