<!-- Overridded to customize welcom page -->

<div style="float: right; margin: 25px 0px 10px 30px;" class="hidden-sm hidden-xs">
		<a href="https://www.uu.nl/en/organisation/department-of-information-and-computing-sciences" target="_blank">
		<img src="/images/utrecht.png">
	</a>
</div>

<h4>Incipit search with melodic similarity</h4>

<p>
	This demo installation of Muscat allows to search the RISM records which contain incipits. It uses the <a class="underline" href="https://www.projects.science.uu.nl/monochord/risma2/about" target="_blank">Monochord</a> search engine, developed at the University of Utrecht. In comparison to the original Muscat <a class="underline" href="/advanced">incipit search engine</a>, based on Themefinder, this tool is more “musically” informed, for example being able to find elements that differ only by small differences - easy to spot for a human, but unlikely to be matched with a reasonably simple Themefinder query. All the example queries below would find, with Themefinder, only one match (themselves), or a few identical matches, but will return meaningful similar results with this system.
</p>
<p>
	The input query matched with all the incipits in the dataset, returning a ranking for each one. The first 50 results are then presented to the user, ordered by the score (highest = most similar).
</p>
<p>
	Using the facets at the left it is possible to browse a subset of the RISM dataset with only the records which include music incipits.
</p>

<p>
	Click on the blue search icons to see a live demo of the Muscat new experimental incipit search! In each case you will see in the result list similar incipits that would not be matched with a simple Themefinder query or a with an ordinary search algorithm.
</p>


<%= render 'incipits_example' %>

<div class="text-center">
	Examples of slightly different RISM incipits featuring the theme <em>Ah vous dirai-je maman</em> and the search in Muscat
</div>

<p>&nbsp;</p>