<!-- Overridded to customize welcom page -->

<div style="float: right; margin: 25px 0px 10px 30px;" class="hidden-sm hidden-xs">
    <img src="/images/catalog_img.jpg" width="300" alt="Tommaso da modena Nicolo di rouen">
</div>

<h3 class="welcome">Introduction</h3>

<p>Welcome to the Canons Database. This research tool was developed by Dr Denis Collins, University of Queensland, and Dr Jason Stoessel, University of New England, as part of an Australian Research Council Discovery Project (DP150102135) “Canonic techniques and musical change, c.1330–c.1530" from 2015 to 2018. Our goal has been to collect and classify every canon that survived in musical sources as late as 1530. Canon is defined here in the broadest sense as a polyphonic structure that results from one more more voices or parts being combined using strict repetition or systematic transformation. The next phase of research consists of expanding the database to include later repertoires. As part of a second ARC Discovery Project from 2018 to 2021 (DP180100680) "The Art and Science of Canon in the Music of Early 17th-Century Rome", the database will classify all canons associated with composers active in Rome during the period c.1580 to c.1650. Feedback and suggestions for areas of future expansion are welcomed. We hope that this website will provide musicians and musicologists with insights into the vibrant and creative processes that informed the composition of canons in early European music.</p>

<br>Denis Collins, Chief Investigator</br>
<br>Jason Stoessel, Chief Investigator</br>

<h3 class="welcome">Search options</h3>

<p>
The simple search mode is the easiest way to start a search. Because the search is performed in all fields, the method produces often a long list of results. If you start your search from there, you will be able to refine your search by adding criteria directly in the result page.    
</p>

<p class="welcome-tip">A search with more than one word will give as result only the sources that match <strong>all</strong> the criteria. However, the words do not have to be in the same field.</p>

<p class="welcome-tip">Phrases, or expressions, can be given between quotes: for example <strong>"benedictus dominus"</strong>.</p>

<p class="welcome-tip">All the different options can be combined. For example <strong>"Ave Maria" CH-E</strong> matches all the sources of the Einsiedeln monastery library with <em>Ave Maria</em>.</p>

<p class="welcome-tip">For non ASCII characters, such as Cyrillic words, the search works as long as both versions (original and transliterated) were entered in the database. For example <strong>kalinka</strong> and <strong>калинка</strong> will return the same results.</p>

<h4>Advanced search</h4>

<p>The <a href="/advanced">advanced search</a> enables you to quickly find results when you already have an idea of what you are searching in the database</p>

<h3>Acknowledgements</h3>

<p>This research was funded by the Australian Government through the Australian Research Council.</p>
