<!-- Overridded to customize welcom page -->

<div style="float: right; margin: 25px 0px 10px 30px;" class="hidden-sm hidden-xs">
    <img src="/images/magnifier.jpg" alt="magnifier">
</div>

<h3 class="welcome">Suchoptionen</h3>

<p>
Verwenden Sie die einfache Suche für die Suche nach Begriffen, unabhängig in welchem Feld sich diese befinden. Ähnlich den Internet-Suchmaschinen erhalten Sie in der Regel viele Treffer. Verwenden Sie Quick Search als erstes, um zu überprüfen, ob Ihre Suche überhaupt ein Resultat ergibt. Die Suche kann in einem weiteren Schritt immer noch mittels erweiterter Suche eingegrenzt werden.	
</p>

<p class="welcome-tip">Bei Eingabe mehrerer Wörter in das Feld, werden nur die Treffer angezeigt, welche <strong>alle</strong> diese Begriffe enthalten.</p>

<p class="welcome-tip">	Ganze Sätze oder Phrasen werden zwischen Anführungszeichen gesetzt: Z. B.: <strong>"benedictus dominus"</strong>.</p>

<p class="welcome-tip">Die verschiedenen Suchoptionen können kombiniert werden. Die Suche nach <strong>"Ave Maria" CH-E</strong> ergibt beispielsweise eine Liste mit allen Quellen in der Klosterbibliothek Einsiedeln, welche ein <em>Ave Maria</em> enthalten.</p>

<p class="welcome-tip">Mit Buchstaben, welche Sonderzeichen enthalten, wie zum Beispiel bei Ausdrücken in kyrillischer Schrift, funktioniert die Suche, sofern beide Versionen (Sonderzeichen und transliteriert) in der Datenbank verzeichnet sind. Die Suche nach <strong>kalinka</strong> ergibt dieselben Resultate wie nach <strong>калинка</strong>.</p>


<h4>Erweiterte Suche</h4>

<p>Grenzen Sie mit der <a href="/advanced">erweiterten Suche</a> Ihre spezifische Anfrage mittels Kombination ein, um auf die gewünschten Treffer zu gelangen.</p>