<!-- Overridded to customize welcom page -->

<div style="float: right; margin: 25px 0px 10px 30px;" class="d-none">
	<img src="/images/magnifier.jpg" alt="magnifier">
</div>

<h3 class="welcome">Options de recherche</h3>

<p>
Le mode de recherche simple permet de rechercher dans tous les champs. Ce type de recherche donne souvent une longue liste de résultats. Si vous commencez votre recherche par ce point d'accès, vous pourrez ensuite affiner votre recherche en ajoutant des critères directement dans la page de résultats.	
</p>

<p class="welcome-tip">Une recherche avec plusieurs mots donne comme résultat uniquement les sources qui réunissent <strong>tous</strong> les critères.</p>

<p class="welcome-tip">Des phases, ou des expressions, peuvent être données entre guillemets: par exemple <strong>"benedictus dominus"</strong>.</p>

<p class="welcome-tip">Ces différentes options peuvent être combinées. Par exemple <strong>"Ave Maria" CH-E</strong> donne la liste de toutes les sources de la bibliothèque du monastère d'Einsiedeln contenant <em>Ave Maria</em>.</p>

<p class="welcome-tip">Pour les caractères non ASCII, comme par exemple les mots en cyrillique, la recherche fonctionne pour autant que les deux versions (originale et translitterée) ont été entrées dans la base de données. Par exemple <strong>kalinka</strong> et <strong>калинка</strong> donneront le même résultat.</p>


<h4>Recherche avancée</h4>

<p>La <a href="/advanced">recherche avancée</a> vous permet d'accéder rapidement à des résultats lorsque vous avez une idée préalable assez précise de ce que vous cherchez dans la base de données.</p>