<!-- Overridded to customize welcom page -->

<div style="float: right; margin: 25px 0px 10px 30px;" class="hidden-sm hidden-xs">
		<a href="https://www.uu.nl/en/organisation/department-of-information-and-computing-sciences" target="_blank">
		<img src="/images/utrecht.png">
	</a>
</div>

<h4>Incipit-Suche mit melodischer Ähnlichkeit</h4>

<p>
	Diese Demo-Installation von Muscat ermöglicht die Suche in denjenigen RISM-Datensätzen, die Incipits enthalten. Sie verwendet die an der Universität Utrecht entwickelte  <a href="https://www.projects.science.uu.nl/monochord/risma2/about" target="_blank">Monochord-Suchmaschine</a>. Im Vergleich zur ursprünglichen Muscat <a href="/advanced">Incipit-Suchmaschine</a>, die auf Themefinder basiert, ist dieses Tool "musikalischer" ausgerichtet, weil es z. B. Elemente finden kann, die sich nur durch kleine Abweichungen unterscheiden. Für einen Menschen ist dies leicht zu erkennen aber mit einer relativ einfachen Themefinder-Suche eher unwahrscheinlich zu entdecken. Alle untenstehenden Beispielabfragen würden mit dem Themefinder nur eine Übereinstimmung (das exakt eingegebene Incipit) oder einige identische Übereinstimmungen finden. Mit diesem System liefern sie aber sinnvolle ähnliche Ergebnisse.
</p>
<p>
	Die Eingabe entsprach allen Incipits im Datensatz und lieferte ein Ranking für jeden einzelnen. Die ersten 50 Ergebnisse werden dann dem Benutzer präsentiert, geordnet nach der Übereinstimmungsgrad (höchste = ähnlichste).
</p>
<p>
	Mit den Facetten auf der linken Seite ist es möglich, eine Teilmenge des RISM-Datensets nur mit denjenigen Einträgen zu durchsuchen, die Musikincipits enthalten.
</p>
<p>
	Klicken Sie auf die blauen Suchsymbole, um eine Live-Demo der neuen experimentellen Incipit-Suche von Muscat zu sehen! In jedem Fall sehen Sie in der Ergebnisliste ähnliche Incipits, die mit einer einfachen Themefinder-Abfrage oder mit einem gewöhnlichen Suchalgorithmus nicht angezeigt würden.
</p>

<figure>
<%= render 'incipits_example' %>
<figcaption class="figure-caption text-center">Beispiele für nur geringfügig abweichende RISM-Incipits mit dem Thema Ah vous dirai-je maman und der Suche in Muscat.</figcaption>
</figure>
<p>&nbsp;</p>