
<div class="table-responsive">
	<table class="table">
		<tr>
			<td class="align-middle">
				<a href="/incipits?utf8=%E2%9C%93&search_field=id&q=190016489-1.1.1" ><img src="/images/incipits/search.png"/></a>
			</td>
			<td class="align-middle">RISM incipit 190016489-1.1.1</td>
			<td>
				<img src="/images/incipits/190016489-1.1.1.svg">
			</td>
		</tr>
		<tr>
			<td class="align-middle">
				<a href="/incipits?utf8=%E2%9C%93&search_field=id&q=452509339-1.1.1" >
					<img src="/images/incipits/search.png"/>
				</a>
			</td>
			<td class="align-middle">RISM incipit 452509339-1.1.1</td>
			<td>
				<img src="/images/incipits/452509339-1.1.1.svg">
			</td>
		</tr>
		<tr>
			<td class="align-middle">
				<a href="/incipits?utf8=%E2%9C%93&search_field=id&q=454013562-1.1.1" >
					<img src="/images/incipits/search.png"/>
				</a>
			</td>
			<td class="align-middle">RISM incipit 454013562-1.1.1</td>
			<td>
				<img src="/images/incipits/454013562-1.1.1.svg">
			</td>
		</tr>
		<tr>
			<td class="align-middle">
				<a href="/incipits?utf8=%E2%9C%93&search_field=id&q=603001069-1.1.1" >
					<img src="/images/incipits/search.png"/>
				</a>
			</td>
			<td class="align-middle">RISM incipit 603001069-1.1.1</td>
			<td>
				<img src="/images/incipits/603001069-1.1.1.svg">
			</td>
		</tr>
		<tr>
			<td class="align-middle">
				<a href="/incipits?utf8=%E2%9C%93&search_field=id&q=702006855-1.1.1" >
					<img src="/images/incipits/search.png"/>
				</a>
			</td>
			<td class="align-middle">RISM incipit 702006855-1.1.1</td>
			<td>
				<img src="/images/incipits/702006855-1.1.1.svg">
			</td>
		</tr>
	</table>
</div>
