
<div class="table-responsive">
	<table class="table">
		<tr>
			<td class="align-middle">
				<a href="/incipits?utf8=%E2%9C%93&search_field=id&q=190016489-1.1.1" class="btn btn-default search-btn" onclick="block_match();">
					<span class="glyphicon glyphicon-search"></span>
				</a>
			</td>
			<td class="align-middle">RISM incipit 190016489-1.1.1</td>
			<td>
				<img src="/images/incipits/190016489-1.1.1.svg">
			</td>
		</tr>
		<tr>
			<td class="align-middle">
				<a href="/incipits?utf8=%E2%9C%93&search_field=id&q=452509339-1.1.1" class="btn btn-default search-btn" onclick="block_match();">
					<span class="glyphicon glyphicon-search"></span>
				</a>
			</td>
			<td class="align-middle">RISM incipit 452509339-1.1.1</td>
			<td>
				<img src="/images/incipits/452509339-1.1.1.svg">
			</td>
		</tr>
		<tr>
			<td class="align-middle">
				<a href="/incipits?utf8=%E2%9C%93&search_field=id&q=454013562-1.1.1" class="btn btn-default search-btn" onclick="block_match();">
					<span class="glyphicon glyphicon-search"></span>
				</a>
			</td>
			<td class="align-middle">RISM incipit 454013562-1.1.1</td>
			<td>
				<img src="/images/incipits/454013562-1.1.1.svg">
			</td>
		</tr>
		<tr>
			<td class="align-middle">
				<a href="/incipits?utf8=%E2%9C%93&search_field=id&q=603001069-1.1.1" class="btn btn-default search-btn" onclick="block_match();">
					<span class="glyphicon glyphicon-search"></span>
				</a>
			</td>
			<td class="align-middle">RISM incipit 603001069-1.1.1</td>
			<td>
				<img src="/images/incipits/603001069-1.1.1.svg">
			</td>
		</tr>
		<tr>
			<td class="align-middle">
				<a href="/incipits?utf8=%E2%9C%93&search_field=id&q=702006855-1.1.1" class="btn btn-default search-btn" onclick="block_match();">
					<span class="glyphicon glyphicon-search"></span>
				</a>
			</td>
			<td class="align-middle">RISM incipit 702006855-1.1.1</td>
			<td>
				<img src="/images/incipits/702006855-1.1.1.svg">
			</td>
		</tr>
	</table>
</div>
<script>
	// FIXME
	// Remember to put this function in a separate file
	// when the autocomplete ajax is implemented
	function block_match() {
		$('#blockable_content').block({ css: { 
            border: 'none', 
            padding: '15px', 
            backgroundColor: '#000', 
            '-webkit-border-radius': '10px', 
            '-moz-border-radius': '10px', 
            opacity: .5, 
            color: '#fff',
						top: '100px'
        },
				centerY: 0,
				message: "Matching in progress..."
			 }); 
	}
</script>