[Unit]
Description=Muscat
After=network-online.target

[Service]
Restart=always
RestartSec=5
TimeoutSec=5
User=muscat
Group=muscat
WorkingDirectory=/INSTALLATION/DIR/muscat
ExecStart=/home/muscat/.rvm/bin/rvm 3.3.6@rails do bundle exec passenger start

[Install]
WantedBy=multi-user.target
