<%
	rails_model = @item.class.to_s.pluralize.downcase
%>

<!-- place holders -->
<div class="marc_flashes"></div>
<div id="dialog"></div>
<div id="marc_editor_preview" class="panel-hidable"></div>
<div id="marc_editor_help" class="panel-hidable"></div>


<%= render :partial => "editor/item_form", :locals => { :render_panel => "marc_editor_panel", :model => rails_model } -%>

<% if @item.respond_to?('paper_trail_enabled_for_model?') %>
	<%= render :partial => "editor/versions" -%>
<% end %>

<% if @item.class.respond_to?("get_viaf")%>
  <%= render :partial => "editor/viaf_form" %>
<% end %>


<% if @editor_validation %>
<script type="text/javascript">

validation_conf = <%= raw JSON.dump(EditorValidation.get_default_validation(@item).rules) -%>

	marc_editor_init_tags($('#marc_editor_panel'));
	marc_editor_init_validation($('#marc_editor_form_marc_editor_panel'), validation_conf);
	$.ajax 
		
</script>
<%end%>
