<!-- place holder for the dialog boxes -->
<div class="flashes">
<div id="dialog"></div>
</div>
<br>
<div id="marc_editor_preview"></div>

<%= render :partial => "editor/item_form", :locals => { :render_panel => "marc_editor_panel" } -%>

<script type="text/javascript">

	marc_editor_init_tags($('#marc_editor_panel'));	
	
	// avoid user to accidently leave the page when the form was modify 
	// will ask for a confirmation
	window.onbeforeunload = marc_editor_discard_changes_leaving;	

	$.ajax 
		
</script>
