<%
	rails_model = @item.class.to_s.pluralize.downcase
%>

<!-- place holders -->
<div class="marc_flashes"></div>
<div id="dialog"></div>
<div id="marc_editor_preview" class="panel-hidable"></div>
<div id="marc_editor_help" class="panel-hidable"></div>


<%= render :partial => "editor/item_form", :locals => { :render_panel => "marc_editor_panel", :model => rails_model } -%>

<% if @item.respond_to?('paper_trail_enabled_for_model?') %>
	<%= render :partial => "editor/versions" -%>
<% end %>

<script type="text/javascript">

	marc_editor_init_tags($('#marc_editor_panel'));	
	$.ajax 
		
</script>