<dl class="group_placeholders_toplevel">
	<dt class="group_placeholders" style="display: none">
		<div class="panel">
		<div style="float:right; padding-top:1.5px" class="abuttonset abuttonset-multi">
			<a class="abutton ui-state-default marc_editor_button_left abutton-icon-solo ui-corner-all" href="#" data-group-button="remove" title="Remove"><span class="ui-icon ui-icon-trash"></span>_</a>
		    <a style="margin-left: 4px !important;" class="abutton ui-state-default abutton-icon-solo ui-corner-all sortable-button" href="#" title="Move"><span class="ui-icon ui-icon-arrow-4-diag"></span>_</a>
		</div>
			<h3>New Group</h3>
			<div class="marc_editor_panel_content">
				<div class="marc_editor_group_contents">
					<%- tag_names.each do |tag_name| -%>
						<div class="tag_group" data-tag="<%= tag_name %>">
							<%= render :partial => "editor/tag_list", 
								:locals => { :tag_name => tag_name, :tags => [] } %>
						</div>
					<%- end -%>
				</div>	
			</div>
		</div>
	</dt>
</dl>