<div class="panel tabpanel">
	<h3><%= @help_title.html_safe -%></h3>
	<div class="guidelines_panel_content">
		<div class="guidelines">
	    <p><%= @help_text.html_safe -%></p>
	    </div>
	</div>
</div>