<% if @item.digital_objects.images.size > 0 %>
    <%= render "admin/digital_objects/digital_objects_embedded_panel" %>
<% end %>

<div id="source_preview_for_holding">
<%
    ep = @editor_profile
    @item = item.source
    @editor_profile = EditorConfiguration.get_show_layout item.source
    %>
    <%= render(:partial: "marc/show", locals: {item: item.source } ) %>
    <%
    @editor_profile = ep
    %>
</div>
