<ul>
<%- @editor_profile.layout_config[:marc_editor_group_links].each do |gl| -%>
	<li><a data-scroll-target="<%= gl.gsub(/ /, "_") -%>" href="#"><%= gl -%></a></li>
<%- end -%>
	<li>&nbsp;</li>
	<li><a data-scroll-target="show_all_groups" href="#">Show All Groups</a></li>
</ul>