<ul>
<%- @editor_profile.layout_config[:marc_editor_group_links].each do |gl| -%>
	<li><a data-scroll-target="<%= gl.gsub(/ /, "_") -%>" href="#"><%= gl -%></a></li>
<%- end -%>
	<li>&nbsp;</li>
	<li><a data-scroll-target="show_all_groups" href="#"><%=(I18n.t :show_all_groups)%></a></li>
	<li>&nbsp;</li>
	<li><a data-sidebar-preview="true" href="#"><%=(I18n.t :show_preview)%></a> 
		
</ul>
