<ul>
<%- @editor_profile.layout_config[:marc_editor_group_links].each do |gl| -%>
	<li><a onclick="$.scrollTo($('[name=<%= gl.gsub(/ /, "_") -%>]'), 100, {offset: -10});"><%= gl -%></a></li>
<%- end -%>
</ul>