<table  class="tag_header" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <th class="col col-label">
            <%= @editor_profile.get_label(tag_name) -%> (<%= tag_name %>)
        </th>
        <th class="col">
            <%= render :partial => "editor/tag_header_buttons", 
                :locals => { :tag_name => tag_name, :empty_header => empty_header } %>
        </th>
    </tr>
</table>

<div class="tag_help_collapsable">
    <div class="help_content"></div>
    <div align="right">
        <a class="abutton ui-state-default marc_editor_button_left abutton-icon-solo ui-corner-all" style="float: inherit" href="#" data-header-button="help"><span class="ui-icon ui-icon-close"></span>&nbsp;</a>
    </div>
</div>