
<div class="tag_container" data-tag="<%= tag_name %>" style="display: block">
    <%= render :partial => "editor/tag_header", 
        :locals => { :tag_name => tag_name, :empty_header => false, :imported => marc_tag.imported?  } %>

	<div class="tag_content_collapsable">
        <%if marc_tag.imported?%>
			<%= render :partial => "editor/tag_imported",
				:locals => { :tag_name => tag_name, :marc_tag => marc_tag } %>
		<%else%>
            <%= render :partial => @editor_profile.get_tag_partial("tag", tag_name), 
                :locals => { :tag_name => tag_name, :marc_tag => marc_tag } %>
        <%end%>
    </div>
    
</div>