<script>

var show_viaf_actions = function () {
  $('#viaf_table').delegate('#data', 'click', function() {
      var viaf_data = $(this).data("viaf");
          console.log(viaf_data);
          });

  $("#viaf_button").click(function(){
      $("#viaf_table").html("");
      var term = $("#viaf_input").val();
      var tt = $.ajax({
        type: "GET",
        url: "/admin/people/viaf.json?viaf_input="+term,

        beforeSend: function() {
             $('#loader').show();
               
             },
        complete: function(){
          $('#loader').hide();
       
},

        success: function(data){
          var result = (JSON.stringify(data));
          drawTable(data);
        }
      });
      });

  function drawTable(data) {
    for (var i = 0; i < data.length; i++) {
      drawRow(data[i]);
    }
  }

  function drawRow(rowData) {
    var row = $("<tr />")
    $("#viaf_table").append(row); //this will append tr element to table... keep its reference for a while since we will add cels into it
    row.append($("<td><a target=\"_blank\" href=\"http://viaf.org/viaf/" + rowData.id + "\">" + rowData.id + "</a></td>"));
    row.append($("<td>" + rowData.name + "</td>"));
    row.append($("<td>" + rowData.dates + "</td>"));
    row.append($("<td>" + rowData.source + "</td>"));
    console.log(JSON.stringify(rowData));
    row.append($('<td><a id="data" data-viaf=\'' + JSON.stringify(rowData) + '\'>Übernehmen</a></td>'));
  }
};

$(document).ready(show_viaf_actions);

</script>

<div class="panel tab_panel" name="Viaf">
  <h3>Viaf</h3>
  <div class="marc_editor_panel_content">
    <table>
      <colgroup>
         <col span="1" style="width: 80%;">
         <col span="1" style="width: 20%;">
         </colgroup>
      <tr>
      <td>
        <div class="tag_content_collapsable">
          <input style="margin-top:6px; width:70%;" class="subfield_entry serialize_marc" type="text" id="viaf_input">
        </div>
      </td>
      <td>
        <div class "buttons">
          <input name="commit" type="submit" value="Search" id="viaf_button">
        </div>
      </td>
    </tr>
    </table>
 </div>
</div>

<div id="loader" style="display: none;">
  <p><img style="display: block;margin-left: auto; margin-right: auto;width:48px;height:48px;" src="/images/gears.svg"/>
  </p>
</div>
<table id="viaf_table" class="index_table index">
</table>


