<div id="viaf-form" class="panel-hidable" style="display:none;>">
  <div class="panel tab_panel" name="Viaf">
    <h3>Viaf</h3>
    <div class="marc_editor_panel_content">
      <table>
        <colgroup>
          <col span="1" style="width: 80%;">
          <col span="1" style="width: 20%;">
        </colgroup>
        <tr>
          <td>
            <div class="tag_content_collapsable">
              <input style="margin-top:6px; width:70%;" class="subfield_entry serialize_marc" type="text" id="viaf_input">
            </div>
          </td>
          <td>
            <div class "buttons">
              <input name="commit" type="submit" value="Search" id="viaf_button">
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div id="loader" style="display: none;">
    <p><img style="display: block;margin-left: auto; margin-right: auto;width:48px;height:48px;" src="/images/gears.svg"/>
    </p>
  </div>
  <table id="viaf_table" class="index_table index">
  </table>
</div>

