<h3>There are expiring folders in Muscat</h3>
<p>
Some of your folders in Muscat are too old and will be automatically deleted after six months of inactivity. Click on "Reset expiration date" to set the expiration date to sex months from now.
<p>
<% @folders.each do |k, f|%>
    <% next if f.empty? %>
    <%= render partial: "folder_table", locals: { folder_list: f, type: k } %>
<%end%>
</p>