<div>
  <p>
    Se utiliza un registro de <b>Colección</b> (registro madre) cuando el documento incluye varias obras. Subsiguientemente, cada obra de la colección se registra como una <b>Entrada individual</b> que luego se vincula al registro madre.
  </p> 
  <p>
    Los <b>Registros individuales</b> se utilizan en el caso de documentos que fueron creados o editados como unidades simples y no integran colecciones.
    </p>
  <p>
    Un <b>Volumen compuesto</b> es un volumen integrado por documentos que fueron creados por separado y encuadernados juntos posteriormente, usualmente por un propietario o una institución. En este conjunto se incluyen tanto los volúmenes en los que una suma de ítems impresos fue encuadernada en conjunto, como también aquellos en los que piezas impresas aparecen encuadernadas junto a manuscritos.
  </p>

</div>
