<div>
  <p>
    A <b>Collection</b> record (parent record) is used when the item contains multiple works. Each work in the collection is then entered as an <b>Individual entry</b> and linked to the collection record.
  </p> 
  <p>
    <b>Single records</b> are used for items that were created or issued as single units and are not part of collections.
    </p>
  <p>
    A <b>Composite volume</b> is a volume that consists of items that were created separately but later bound together, typically by an owner or institution. This includes volumes in which individual printed items are bound together, as well as volumes in which printed items and manuscripts are bound together.
  </p>

</div>
