<div>
  <p>
    Se utilizan registros de <b>Colección</b> (registro madre) en los casos en los que varias obras han sido copiadas o impresas en un mismo documento. Subsiguientemente, cada obra de la colección se registra como una <b>Entrada individual</b> que es vinculada luego al registro madre.
  </p> 
  <p>
    Los <b>Registros individuales</b> se utilizan con documentos creados o editados como unidades simples que no integran colecciones; esto es, una sola obra en un documento individual.
    </p>
  <p>
    Los registros de <b>Volumen compuesto</b> se utilizan en casos en que los que varios documentos que fueron creados por separado aparecen encuadernados en un solo volumen, generalmente por obra de un propietario o una institución. En este conjunto se incluyen tanto los volúmenes en los que una suma de ítems impresos fue encuadernada en conjunto, como también aquellos en los que piezas impresas están encuadernadas junto a manuscritos.
  </p>

</div>
