<!-- Overridded to customize welcom page -->

<div style="float: right; margin: 25px 0px 10px 30px;" class="hidden-sm hidden-xs">
    <img src="/images/magnifier.jpg" alt="magnifier">
</div>

<h3 class="welcome">RISM UK Catalogue</h3>

<% if MuscatProcess.is_reindexing? %>
<h2>Muscat is reindexing! Results may be incomplete</h2>
<%end%>

<%if AutoUpdateVersion::LATEST%>
<h6>Latest update: <%=AutoUpdateVersion::LATEST%></h6>
<%end%>

<p>
This catalogue lists music manuscripts ca. 1600 – ca. 1800 and printed music before ca. 1800 in UK libraries. Concordances of printed editions in libraries worldwide are also included. For further details on coverage please see <a href="https://rism-uk.github.io/">here</a>.
</p>

<p> 
The simple search mode is the easiest way to start a search. Because the search is performed in all fields, this method often produces a long list of results. You can then refine your search by applying any of the additional terms listed on the left. Alternatively you may simply use one or more of the refining terms as your first search.
</p>


<p class="welcome-tip">A search with more than one word will find only the sources that match <strong>all</strong> the criteria. The words do not have to be in the same field..</p>

<p class="welcome-tip">Phrases, or expressions, can be given between quotes: for example <strong>"keyboard concerto"</strong>.</p>

<p class="welcome-tip">All the different options can be combined. For example <strong>"sacred songs" GB-DRc </strong> matches all the sources of Durham Cathedral Library with sacred songs.</p>

<h4>Advanced search</h4>

<p>The <a href="/advanced">advanced search</a> enables you to find results quickly when you have a more precise idea of what you are searching for in the database.</p>

<p>
<a href="https://www.bl.uk/"><img style='vertical-align: bottom' src="/images/catalog_uk/bl_logo.gif" alt="BL"></a>
<a href="https://www.royalholloway.ac.uk/"><img style='vertical-align: bottom' src="/images/catalog_uk/Royal-Holloway-logo-cmyk.jpg" alt="RH" width="20%"></a>
</p>
<p>
<a href="https://ahrc.ukri.org/"><img style='vertical-align: top'" src="/images/catalog_uk/UKRI_AHR_Council-Logo_Horiz-RGB.png" alt="AHR" width="40%"></a>
</p>

<hr>

<h4>Additional information</h4>

<p class="welcome-tip">The directory of library sigla is found <a href="http://www.rism.info/en/sigla.html">here</a>.</p>

<p class="welcome-tip">Development of this catalogue was funded by the Arts & Humanities Research Council and Royal Holloway, University of London.</p>
