<%- last_tag = "" %>

<table border="0" cellpadding="0" cellspacing="0">
<%- tags.each do |tag| %>
	<% if @editor_profile.show_all? || @item.marc.config.tag_is_browsable?(tag.tag) -%>
	
		<% if templates && templates.has_key?(tag.tag ) %>
			<%= render :partial => templates[tag.tag], :locals => { :tag => tag, :no_label => (last_tag == tag.tag + "a"), :opac => opac } %>
			<%- last_tag = tag.tag + "a" %>		
		<% else %>
			<% tag.children do |subfield| -%>
				<% next if @item.marc.config.always_hide?(tag.tag, subfield.tag) || !(@editor_profile.show_all? || @item.marc.config.show_in_browse?(tag.tag, subfield.tag)) -%>
				<%= render :partial => "marc/show_subfield", :locals => { :tag => tag, :subfield => subfield, 
					:no_label => (last_tag == tag.tag + subfield.tag), :opac => opac } %>
				<%- last_tag = tag.tag + subfield.tag %>
			<% end -%>
		<% end -%>	
	<% end -%>
<% end -%>
</table>

