<tr class="row">
	<th>
		<% if (no_label == false) -%>
			<%= @editor_profile.get_sub_label(tag.tag, subfield.tag) %>
		<%- end %>
	</th>
	<td>
	<% 		
		content = ""
		if @item.marc.config.is_foreign?(tag.tag, subfield.tag)
			content = subfield.looked_up_content.to_s.html_safe if subfield && subfield.looked_up_content
		else
			content = subfield.content.html_safe if subfield && subfield.content
		end

		browse_helper = @item.marc.config.get_browse_helper(tag.tag, subfield.tag)
	-%>
	<% if browse_helper -%>
	   <%= raw method(browse_helper).call( content, subfield, opac ) %>
	<% else -%>
		<% content_lines = content.split("{{brk}}")%>
		<% content_lines.each do |line|%>
			<%=h line%>
			<%unless line.equal?(content_lines.last) %>
				<br>
			<%end%>
		<%end%>
	<%- end %>
</td>
</tr>

