<%- 
	opac_resolved = opac rescue opac_resolved = false 
	layout_config = @editor_profile.layout_config
	layout_config["group_order"].each do |group_name|
		group_config = layout_config["groups"][group_name]
		group = { 
			:title => @editor_profile.get_label(group_name), 
			:tags => group_config["all_tags"], 
			:tag_templates => group_config["all_tag_templates"], 
			:subfield_grouping => group_config["subfield_grouping"],
			:ungrouped_tags => group_config["ungrouped_tags"]
		 }					
-%>	
		<% unless group_config["admin_only"] and not (current_user && current_user.has_any_role?(:editor, :admin)) -%>
			<%= render :partial => (group_config["template"] && !@diff ? group_config["template"] : "marc/show_group" ), 
				:locals => { 
					:item => @item, 
					:group => group, 
					:opac => opac_resolved } %>
		<% end -%>
	<%- end -%>

<% if @item.class == Source && @item.holdings.count > 0 %>

	<% @item.holdings.each do |h| %>
		<div id="holding_records_div-<%=h.id%>"></div>
		<script>
			_marc_editor_embedded_view("holding_records_div-<%=h.id%>", "holdings", <%= h.id %>)
		</script>
	<% end %>


<% end %>