<div class="panel panel_group">
<h3>MARC21</h3>
	<%marc = @item.marc.to_marc_external({ created_at: @item.created_at, updated_at: @item.updated_at, versions: @item.versions }) %>
	<%css_marc = marc.gsub(/(=\d{3})  /, '<br><span class="marc_tag">\1</span> ').gsub(/(\$.)/, '<span class="marc_subfield">\1</span>').html_safe %>
    
	<div class="marc21">
		<%= css_marc %>
    </div>
</div>