<tr class="row">
	<th>
		<% if (no_label == false) -%>
			<%= @editor_profile.get_sub_label(tag.tag, subfield.tag) %>
		<%- end %>
	</th>
	<td>
	<%
		content = ""
		if @item.marc.config.is_foreign?(tag.tag, subfield.tag)
			content = subfield.looked_up_content.to_s if subfield && subfield.looked_up_content
			if subfield.foreign_object
				if opac
					content = link_to(content,  search_catalog_path(:search_field => "any_field", :q => content))
				else
					content = link_to(content, [:admin, subfield.foreign_object])
				end
			end
		else
			content = subfield.content if subfield && subfield.content
		end

		browse_helper = @item.marc.config.get_browse_helper(tag.tag, subfield.tag)
		content = Anchored::Linker.auto_link(content).html_safe if content.match("(http|https)://")
	-%>
	<% if browse_helper -%>
	   <%= raw method(browse_helper).call( content, subfield, opac ) %>
	<% else -%>
		<% if content.include?("{{brk}}")%>
			<% content_lines = content.split("{{brk}}")%>
			<% content_lines.each do |line|%>
				<%=h line%>
				<%unless line.equal?(content_lines.last) %>
					<br>
				<%end%>
			<%end%>
		<%else%>
			<%=content%>
		<%end%>
	<%- end %>
</td>
</tr>
