%body
  - session['file'] ? file=session['file'] : file=""
  - !file.empty? ? content=File.open("tmp/trans.yml", "r").read : content=""
  - files = Dir["config/locales/*.yml"].select {|x| x =~ /\/[a-z]{2}.yml/ }.sort

  =semantic_form_for :open_file, :url => translation_edit_path do |f|
    = f.inputs do
      =f.action :submit, :class => "button_open", :button_html => {:class => "button_open", :name => "act", :value => "Open", :style => "float:left; margin-left:3px;margin-top: 0px;" }, :label => "Select File"
      =f.input :file, :label => false, :collection=>files, :input_html => {:style => "float:left; margin-top: -4px; height: 26px;"}, :include_blank => false, :selected => file
      =f.action :submit, :class => "button_save", :button_html => {:name => "act", :value => "Save", :style => "background-color: green; float:left; margin-top:-9px; margin-left: 10px; margin-bottom: 8px;"}, :label => "Save File"
      =f.input :content, :label => false, :as => :text, :input_html =>{:class =>'my-code-area', :rows=>"30", :style=>"float: right; width: 80%; border-style: solid;", :value => content}

:javascript 
  $('.my-code-area').ace({ theme: 'github', lang: 'ruby' })
