--- !map:Settings 
"001": 
  tag: tag_no_subfield
  tag_params: 
    read_only: true
    no_delete: true
  tag_header: none
"035": 
  layout: 
    fields: 
    - - a
"040":
  layout:
    fields:
    - - a
      - hidden: true
    - - d
      - hidden: true
    - - b
      - editor_partial: subfield_select_codes
        select_label: "Language"
        codes_reference: "codes"
  tag_params:
    codes:
      - "eng"
      - "fre"
      - "ger"
      - "ita"
      - "por"
      - "spa"
"300": 
  layout: 
    fields: 
    - - a
      - growfield: true
    - - b
      - growfield: true
    - - c
"500": 
  layout: 
    fields: 
    - - a
      - growfield: true
"518": 
  layout: 
    fields: 
    - - a
      - growfield: true
"541": 
  layout: 
    fields: 
    - - c
      - growfield: true
    - - a
      - growfield: true
    - - d
    - - e
"563": 
  layout: 
    fields: 
    - - a
      - growfield: true
"592": 
  layout: 
    fields: 
    - - a
      - growfield: true
"593": 
  layout: 
    fields: 
    - - a
      - values:
        - Print
        - Print with autograph annotations
        - Print with non-autograph annotations
        - Additional manuscript material
        editor_partial: subfield_select
    - - b
      - values:
        - "Notated music"
        - "Libretto"
        - "Treatise"
        - "Other"
        editor_partial: subfield_select
"599": 
  layout: 
    fields: 
    - - a
      - growfield: true
    - - b
      - hidden: true

"651":
  new_window: places
  new_window_field: name_eq
  layout: 
    fields: 
    - - a
      - type: place
        editor_partial: subfield_secondary
        allow_new: true
"691":
  new_window: publications
  new_window_field: short_name_eq
  layout: 
    fields: 
    - - a
      - type: publication
        editor_partial: subfield_secondary
        allow_new: false
    - - n
"700":
  new_window: people
  new_window_field: full_name_eq
  layout:
    fields: 
    - - a
      - type: person
        editor_partial: subfield_secondary
        allow_new: true
    - - d
      - autocomplete_extra: life_dates
    - - j
      - editor_partial: subfield_select_codes
        codes_reference: "codes"
    - - "4"
      - editor_partial: subfield_select_codes
        select_label: "Function"
        codes_reference: "relator_codes"
  tag_params: 
    codes:
      - "Ascertained"
      - "Alleged"
      - "Conjectural"
      - "Misattributed"
    relator_codes: 
      - fmo
      - scr
      - cmp
      - prf
      - dte
      - trl
      - edt
      - ltg
      - egr
      - ill
      - prt
      - ppm
      - oth
      - asn
      - arr
"710":
  new_window: institutions
  new_window_field: name_eq
  layout: 
    fields: 
    - - a
      - type: institution
        editor_partial: subfield_secondary
        allow_new: true
    - - b
    - - c
      - type: place
        editor_partial: subfield_autocomplete
        autocomplete_extra: place
    - - g
      - editor_partial: subfield_select_codes
        codes_reference: "codes"
    - - "4"
      - editor_partial: subfield_select_codes
        select_label: "Function"
        codes_reference: "relator_codes"
  tag_params: 
    codes:
      - "Ascertained"
      - "Alleged"
      - "Conjectural"
      - "Misattributed"
    relator_codes: 
      - fmo
      - dpt
      - dte
      - prf
      - bsl
      - evp
      - oth
      - ppm
      - prt
      - asn
"852": 
  allow_new: true
  new_window: institutions
  layout: 
    fields: 
    - - a
      - type: library
        editor_partial: subfield_secondary
    - - b
    - - z
    - - q
      - growfield: true
    - - c
      - growfield: true
    - - d
"856": 
  layout: 
    fields: 
    - - u
    - - z
    - - x
      - editor_partial: subfield_select_codes
        codes_reference: "codes"
  tag_params: 
    codes:
      - "IIIF manifest (digitized source)"
      - "IIIF manifest (other)"
      - "Digitized"
      - "Other"
"973":
  new_window: sources
  record_type_helper: get_allowed_record_type_holding
  lib_siglum_helper: get_allowed_lib_siglum_holding
  layout: 
    fields: 
    - - u
      - type: source
        editor_partial: subfield_secondary
        only_new_window: true

ui: 
  hide_marc_identifiers: true
triggers:
  - reindex_source
