--- !map:Settings 
"000": 
  tag: tag_no_subfield
  tag_params: 
    editor_only: true
  tag_header: none
"001": 
  tag: tag_no_subfield
  tag_params: 
    read_only: true
    no_delete: true
  tag_header: none
"003": 
  tag: tag_no_subfield
  tag_params: 
    read_only: true
  tag_header: none
"005": 
  tag: tag_no_subfield
  tag_params: 
    read_only: true
  tag_header: none
008: 
  tag: tag_no_subfield
  tag_params: 
    maskedinput: 
      definitions: "['~']='[|0-9]'"
      mask: 999999a~~~~~~~~||||||||||||||||||||aaa|d
  tag_header: none
"024": 
  layout: 
    fields: 
    - - a
    - - c
    - - d
    - - q
    - - z
    - - "0"
    - - "1"
    - - "2"
      - values:
        - "ISIL" 
        - "BNE"
        - "BNF"
        - "DNB"
        - "ICCU"
        - "ISNI"
        - "LC"
        - "NLP"
        - "NKC"
        - "SWNL"
        - "VIAF"
        - "WKP"
        - "MOC"
        default: "VIAF"
        editor_partial: subfield_select
    - - "6"
    - - "8"
"034": 
  layout: 
    fields: 
    - - f
    - - d
"040":
  layout:
    fields:
    - - a
      - hidden: true
    - - d
      - hidden: true
    - - b
      - editor_partial: subfield_select_codes
        select_label: "Language"
        codes_reference: "codes"
  tag_params:
    codes:
      - "eng"
      - "fre"
      - "ger"
      - "ita"
      - "por"
      - "spa"
"043": 
  layout: 
    fields: 
    - - c
      - editor_partial: subfield_select_codes
        select_label: "Country"
  tag_params:
    codes:
      - "XC-DZ"
      - "XD-AR"
      - "XB-AM"
      - "XE-AU"
      - "XA-AT"
      - "XA-AT-2"
      - "XA-AT-3"
      - "XA-AT-5"
      - "XA-AT-6"
      - "XA-AT-7"
      - "XA-AT-4"
      - "XA-AT-9"
      - "XA-BE"
      - "XC-BJ"
      - "XD-BR"
      - "XA-BG"
      - "XA-BY"
      - "XB-KH"
      - "XD-CA"
      - "XD-CL"
      - "XB-CN"
      - "XD-CO"
      - "XA-HR"
      - "XD-CU"
      - "XA-CZ"
      - "XA-DK"
      - "XC-EG"
      - "XA-EE"
      - "XA-FI"
      - "XA-FR"
      - "XA-DE"
      - "XA-DE-BY"
      - "XA-DE-SN"
      - "XA-GR"
      - "XD-GT"
      - "XA-VA"
      - "XD-HN"
      - "XA-HU"
      - "XA-IS"
      - "XB-IN"
      - "XB-IR"
      - "XA-IE"
      - "XB-IL"
      - "XA-IT-32"
      - "XA-IT"
      - "XD-JM"
      - "XB-JP"
      - "XB-KR"
      - "XA-LV"
      - "XA-LT"
      - "XA-LU"
      - "XA-MT"
      - "XD-MX"
      - "XA-ME"
      - "XA-NL"
      - "XE-NZ"
      - "XA-NO"
      - "XD-PE"
      - "XD-PY"
      - "XA-PL"
      - "XA-PT"
      - "XD-PR"
      - "XA-RO"
      - "XA-RU"
      - "XA-RS"
      - "XB-SA"
      - "XA-SK"
      - "XA-SI"
      - "XC-ZA"
      - "XA-ES"
      - "XA-SE"
      - "XA-CH"
      - "XA-CH-VD"
      - "XB-SY"
      - "XD-TT"
      - "XB-TR"
      - "XA-UA"
      - "XA-GB"
      - "XD-US"
      - "XD-UY"
      - "XD-VE"
      - "XB-VN"
      - "XD-EC"
"094": 
  layout: 
    fields: 
    - - a
      - editor_partial: subfield_hardcoded
    - - z
      - editor_partial: subfield_hardcoded
    - - q
      - editor_partial: subfield_hardcoded
        value: "siglum"
        never_enable: true
    - - "2"
      - editor_partial: subfield_hardcoded
        value: "rism"
        never_enable: true
"110": 
  layout: 
    fields: 
    - - a
      - trigger:
        - save:
          - referring_sources
          - referring_holdings
          - referring_people
          - referring_institutions
          - referring_publications
          - referring_works
    - - b
      - trigger:
        - save:
          - referring_institutions
    - - c
      - trigger:
        - save:
          - referring_sources
          - referring_holdings
          - referring_publications
    - - g
      - trigger:
        - save:
          - referring_sources
          - referring_holdings
          - referring_publications
"368": 
  layout: 
    fields: 
    - - a
      - editor_partial: subfield_select_codes
        select_label: "Type"
    - - b
    - - c
    - - "2"
  tag_params:
    codes:
      - "Archive" 
      - "Bookseller"
      - "Congress"
      - "Copyist"
      - "Documentation center"
      - "Institution"
      - "Library"
      - "Museum"
      - "Papermaker"
      - "Performer"
      - "Publisher"
      - "Other"
      - "Printer"
      - "Research institute"
"410": 
  layout: 
    fields: 
    - - a
"510": 
  layout: 
    fields:
    - - a
    - - w
      - editor_partial: subfield_select_codes
        select_label: "Term"
    - - i
  tag_params:
    codes:
      - "a" 
      - "b"
      - "d"
      - "f"
      - "g"
      - "h"
      - "i"
      - "n"
      - "r"
      - "t"
"551": 
  new_window: places
  layout: 
    fields: 
    - - "a"
      - type: place
        editor_partial: subfield_secondary
"580": 
  new_window: institutions
  layout: 
    fields: 
    - - "x"
      - type: institution
        editor_partial: subfield_secondary
"667": 
  layout: 
    fields: 
    - - a
      - growfield: true
"670": 
  new_window: publications
  layout: 
    fields: 
    - - "a"
      - type: publication
        editor_partial: subfield_secondary
        allow_new: false
    - - "9"
    - - "b"
    - - "u"
"680": 
  layout: 
    fields: 
    - - a
      - growfield: true
"700":
  allow_new: true
  new_window: people
  layout:
    fields: 
    - - a
      - type: person
        editor_partial: subfield_secondary
    - - d
      - autocomplete_extra: life_dates
    - - "4"
      - editor_partial: subfield_select_codes
        select_label: "Function"
        codes_reference: "relator_codes"
  tag_params: 
    relator_codes: 
      - scr
      - cmp
      - cns
      - arr
      - prf
      - dte
      - lyr
      - lbt
      - trl
      - pbl
      - prt
      - edt
      - ltg
      - egr
      - ill
      - aut
      - asn
      - ctb
      - ccp
      - dst
      - asg
      - cph
      - lse
      - tyd
      - bsl
      - ppm
"710": 
  new_window: institutions
  layout: 
    fields: 
    - - "a"
      - type: institution
        editor_partial: subfield_secondary


