--- !map:Settings 
"001":
  tag: tag_no_subfield
  tag_params:
    read_only: true
    no_delete: true
  tag_header: none
"024": 
  layout: 
    fields: 
    - - a
    - - c
    - - d
    - - q
    - - z
    - - "0"
    - - "1"
    - - "2"
      - values:
        - "ISIL" 
        - "BNE"
        - "BNF"
        - "DNB"
        - "ICCU"
        - "ISNI"
        - "LC"
        - "NLP"
        - "NKC"
        - "SWNL"
        - "VIAF"
        - "WKP"
        - "MOC"
        default: "VIAF"
        editor_partial: subfield_select
    - - "6"
    - - "8"
"034": 
  layout: 
    fields: 
    - - f
    - - d
"040":
  layout:
    fields:
    - - a
      - read_only: true
        default: "DE-633"
    - - b
      - editor_partial: subfield_select_codes
        select_label: "Language"
        shared_codes: "languages_040"
    - - c
      - read_only: true
        default: "DE-633"
    - - d
      - read_only: true
    - - e
      - read_only: true
        default: "rismg"
"043": 
  layout: 
    fields: 
    - - c
      - editor_partial: subfield_select_codes
        select_label: "Country"
        shared_codes: "country_codes_043"
"094": 
  layout: 
    fields: 
    - - a
      - trigger:
        - save:
          - referring_sources
          - referring_holdings
          - referring_publications
        read_only: true
        override_admin: true
    - - z
      - read_only: true
        override_admin: true
    - - q
      - read_only: true
        default: "siglum"
    - - "2"
      - read_only: true
        default: "rism"
"110": 
  layout: 
    fields: 
    - - a
      - read_only: true
        override_admin: true
        trigger:
        - save:
          - referring_sources
          - referring_holdings
          - referring_people
          - referring_institutions
          - referring_publications
          - referring_works
    - - b
      - read_only: true
        override_admin: true
        trigger:
        - save:
          - referring_institutions
    - - c
      - read_only: true
        override_admin: true
        trigger:
        - save:
          - referring_sources
          - referring_holdings
          - referring_publications
"368": 
  layout: 
    fields: 
    - - a
      - editor_partial: subfield_select_codes
        select_label: "Type"
    - - b
    - - c
    - - "2"
  tag_params:
    codes:
      - "Archive" 
      - "Bookseller"
      - "Congress"
      - "Copyist"
      - "Documentation center"
      - "Institution"
      - "Library"
      - "Museum"
      - "Papermaker"
      - "Performer"
      - "Publisher"
      - "Other"
      - "Printer"
      - "Research institute"
      - "Private collection"
      - "Project"
"410": 
  layout: 
    fields: 
    - - a
"510": 
  layout: 
    fields:
    - - a
    - - w
      - editor_partial: subfield_select_codes
        select_label: "Term"
    - - i
      - editor_partial: subfield_select_codes
        codes_reference: "510i"
  tag_params:
    codes:
      - "a" 
      - "b"
      - "d"
      - "f"
      - "g"
      - "h"
      - "i"
      - "n"
      - "r"
      - "t"
    "510i":
      - "rdaa:P50008"
      - "rdaa:P50010"
      - "rdaa:P50012"
      - "rdaa:P50016"
      - "rdaa:P50020"
      - "rdaa:P50230"
      - "rdaa:P50435"
      - "rdaa:P50301"
"551": 
  new_window: places
  layout: 
    fields: 
    - - "a"
      - type: place
        editor_partial: subfield_secondary
"580": 
  new_window: institutions
  layout: 
    fields: 
    - - "x"
      - type: institution
        editor_partial: subfield_secondary
"667": 
  layout: 
    fields: 
    - - a
      - growfield: true
"670": 
  new_window: publications
  layout: 
    fields: 
    - - "a"
      - type: publication
        editor_partial: subfield_secondary
        allow_new: false
    - - "9"
    - - "b"
    - - "u"
"680": 
  layout: 
    fields: 
    - - a
      - growfield: true
"700":
  allow_new: true
  new_window: people
  layout:
    fields: 
    - - a
      - type: person
        editor_partial: subfield_secondary
        allow_new: true
    - - d
      - autocomplete_extra: life_dates
    - - "4"
      - editor_partial: subfield_select_codes
        select_label: "Function"
        codes_reference: "relator_codes"
  tag_params: 
    relator_codes: 
      - scr
      - att
      - cns
      - arr
      - prf
      - dte
      - lyr
      - lbt
      - trl
      - pbl
      - prt
      - edt
      - ltg
      - egr
      - ill
      - aut
      - asn
      - ctb
      - ccp
      - dst
      - asg
      - cph
      - lse
      - tyd
      - bsl
      - ppm
"710": 
  new_window: institutions
  layout: 
    fields: 
    - - "a"
      - type: institution
        editor_partial: subfield_secondary


