--- !map:Settings 
group_order: 
- main_person
- codes
- variants
- relations
- references
- control
groups:   
  main_person: 
    all_tags: 
    - "100"
    - "042"
    - "375"   
    - "043"
    all_tag_templates:
      "375": marc_show/show_gender  
      "550": marc_show/show_inline
      "043": marc_show/show_subfield_concat
  codes: 
    all_tags: 
    - "024"
    all_tag_templates:
      "024": marc_show/show_dnb_link
  variants:
    all_tags:
    - "400"
    all_tag_templates:
      "400": people/show_indicator
  relations:
    all_tags:
    - "500"
    - "510"
    - "550" 
    - "551"
    - "667"
    all_tag_templates:
      "500": people/show_related_person
  references:
    all_tags:
    - "670"
    - "678"
    - "680"
    - "856"
  all_tag_templates:
      "856": people/show_link
  control: 
    all_tags: 
    - "040"
    - "000"
    - "001"
    - "003"
    - "005"
    - "008"
    - "599"

