--- !map:Settings 
"000": 
  tag: tag_no_subfield
  tag_params: 
    editor_only: true
  tag_header: none
"001": 
  tag: tag_no_subfield
  tag_params: 
    read_only: true
    no_delete: true
  tag_header: none
"003": 
  tag: tag_no_subfield
  tag_params: 
    read_only: true
  tag_header: none
"005": 
  tag: tag_no_subfield
  tag_params: 
    read_only: true
  tag_header: none
"008": 
  tag: tag_no_subfield
  tag_params: 
    maskedinput: 
      definitions: "['~']='[|0-9]'"
      mask: 999999a~~~~~~~~||||||||||||||||||||aaa|d
  tag_header: none
"024": 
  layout: 
    fields: 
    - - a
    - - "2"
      - values: 
        - "BNE"
        - "BNF"
        - "DNB"
        - "ICCU"
        - "ISNI"
        - "LC"
        - "NLP"
        - "NKC"
        - "OCLC"
        - "ORCID"
        - "SWNL"
        - "VIAF"
        - "WKP"
        default: "VIAF"
        editor_partial: subfield_select
"040": 
  layout: 
    fields: 
    - - a
    - - c
    - - d
    - - b
"042": 
  layout: 
    fields: 
    - - a
      - values:
        - "individualized" 
        - "not individualized"
        editor_partial: subfield_select
"043": 
  layout: 
    fields: 
    - - c
      - editor_partial: subfield_select_codes
        select_label: "Country"
  tag_params:
    codes:
      - "XC-DZ"
      - "XA-AL"
      - "XD-AR"
      - "XB-AM"
      - "XE-AU"
      - "XA-AT"
      - "XA-AT-2"
      - "XA-AT-3"
      - "XA-AT-5"
      - "XA-AT-6"
      - "XA-AT-7"
      - "XA-AT-4"
      - "XA-AT-9"
      - "XA-BE"
      - "XC-BJ"
      - "XD-BR"
      - "XA-BG"
      - "XB-KH"
      - "XD-CA"
      - "XD-CL"
      - "XB-CN"
      - "XD-CO"
      - "XA-HR"
      - "XD-CU"
      - "XA-CZ"
      - "XA-DK"
      - "XC-EG"
      - "XA-EE"
      - "XA-FI"
      - "XA-FR"
      - "XA-DE"
      - "XA-DE-BY"
      - "XA-DE-SN"
      - "XC-GH"
      - "XA-GR"
      - "XC-GN"
      - "XA-VA"
      - "XD-HN"
      - "XA-HU"
      - "XB-IQ"
      - "XA-IS"
      - "XB-IN"
      - "XB-IR"
      - "XA-IE"
      - "XB-IL"
      - "XA-IT-32"
      - "XA-IT"
      - "XD-JM"
      - "XB-JP"
      - "XB-KR"
      - "XA-LI"
      - "XA-LV"
      - "XA-LT"
      - "XA-LU"
      - "XA-MT"
      - "XD-MX"
      - "XA-MD"
      - "XA-MC"
      - "XA-ME"
      - "XA-NL"
      - "XE-NZ"
      - "XD-NI"
      - "XA-NO"
      - "XD-PE"
      - "XB-PH"
      - "XD-PY"
      - "XA-PL"
      - "XA-PT"
      - "XD-PR"
      - "XA-RO"
      - "XA-RU"
      - "XA-RS"
      - "XA-SK"
      - "XA-SI"
      - "XC-ZA"
      - "XA-ES"
      - "XA-SE"
      - "XA-CH"
      - "XA-CH-VD"
      - "XD-SR"
      - "XB-SY"
      - "XD-TT"
      - "XB-TR"
      - "XC-UG"
      - "XA-UA"
      - "XA-GB"
      - "XD-US"
      - "XD-UY"
      - "XD-VE"
      - "XB-VN"
      - "XB-TW"
      - "XB-GE"
      - "XD-EC"
"100": 
  layout: 
    fields: 
    - - a
      - trigger:
        - save:
          - referring_sources
          - referring_holdings
          - referring_people
          - referring_institutions
          - referring_publications
          - referring_works
    - - c
    - - d
      - trigger:
        - save:
          - referring_sources
          - referring_holdings
          - referring_people
          - referring_institutions
          - referring_publications
          - referring_works
    - - w
    - - y
"375": 
  layout: 
    fields: 
    - - a
      - editor_partial: subfield_select_codes
        select_label: "Gender"
  tag_params:
    codes:
      - male
      - female
      - "unknown"
"400": 
  layout: 
    fields: 
    - - a
    - - d
    - - j
      - editor_partial: subfield_select_codes
        select_label: "Type of Variant"
  tag_params:
    codes:
      - "bn"
      - "da"
      - "do"
      - "ee"
      - "gg"
      - "in"
      - "tn"
      - "ub"
      - "xx"
      - "z"
"500": 
  new_window: people
  layout: 
    fields: 
    - - "a"
      - type: person
        editor_partial: subfield_secondary
        allow_new: true
    - - d
      - autocomplete_extra: life_dates
    - - "i"
      - editor_partial: subfield_select_codes
        select_label: "Relationship"
  tag_params:
    codes:
      - brother of
      - child of
      - mother of
      - confused with
      - sister of
      - married to
      - father of
      - related to
      - other
"510": 
  new_window: institutions
  layout: 
    fields: 
    - - "a"
      - type: institution
        editor_partial: subfield_secondary
        allow_new: true
"549": 
  layout: 
    fields: 
    - - a
"550":
  layout: 
    fields: 
    - - a
      - type: person_550a_solr
        field: value
        editor_partial: subfield_secondary
        allow_new: true
"551": 
  new_window: places
  new_window_field: name_equals
  layout: 
    fields: 
    - - a
      - type: place
        editor_partial: subfield_secondary
        allow_new: true
    - - i
      - editor_partial: subfield_select_codes
        select_label: "Type"
  tag_params:
    codes:
      - go
      - ha
      - so
      - wl
      - wo
      - wr
"599": 
  layout: 
    fields: 
    - - a
    - - b
"667": 
  layout: 
    fields: 
    - - a
      - growfield: true
"670":
  new_window: publications
  new_window_field: name_equals
  layout: 
    fields: 
    - - "a"
      - type: publication
        editor_partial: subfield_secondary
        allow_new: true
    - - "9"
    - - "b"
    - - "u"
"678": 
  layout: 
    fields: 
    - - a
      - growfield: true
"680": 
  layout: 
    fields: 
    - - a
      - growfield: true
"856": 
  layout: 
    fields: 
    - - u
      - unrestricted:
          - person_restricted
    - - z
      - unrestricted:
          - person_restricted
