--- !map:Settings 
group_order: 
- main_person
- codes
- variants
- relations
- references
- control
groups:   
  main_person: 
    all_tags: 
    - "100"
    - "042"
    - "375"   
    - "043"
  codes: 
    all_tags: 
    - "024"
  variants:
    all_tags:
    - "400"
  relations:
    all_tags:
    - "551"
    - "374" 
    - "500"
    - "510"
    - "667"
  references:
    all_tags:
    - "670"
    - "678"
    - "680"
    - "856"
  control: 
    all_tags:
    - "040" 
    - "000"
    - "001"
    - "003"
    - "005"

