--- !map:Settings 
group_order: 
- main_person
- codes
- variants
- relations
- references
- control
groups:   
  main_person: 
    all_tags: 
    - "100"
    - "678"
    - "042"
    - "375"   
    - "043"
    all_tag_templates:
      "375": marc_show/show_gender  
      "043": marc_show/show_auto_tag
  codes: 
    all_tags: 
    - "024"
    all_tag_templates:
      "024": marc_show/show_dnb_link
  variants:
    all_tags:
    - "400"
    all_tag_templates:
      "400": marc_show/show_auto_tag
  relations:
    all_tags:
    - "500"
    - "510"
    - "550" 
    - "551"
    - "910"
    all_tag_templates:
      "500": marc_show/show_auto_tag
      "510": marc_show/show_auto_tag
      "550": marc_show/show_auto_tag
      "551": marc_show/show_auto_tag
  references:
    all_tags:
    - "670"
    - "680"
    - "856"
    - "667"
    all_tag_templates:
      "670": marc_show/show_auto_tag
      "856": marc_show/show_link
  control: 
    all_tags: 
    - "040"
    - "001"
    - "599"

