--- !map:Settings 
"001":
  tag: tag_no_subfield
  tag_params:
    read_only: true
    no_delete: true
  tag_header: none
"024": 
  layout: 
    fields: 
    - - a
    - - "2"
      - values: 
        - "BNE"
        - "BNF"
        - "DNB"
        - "ICCU"
        - "ISNI"
        - "LC"
        - "NLP"
        - "NKC"
        - "OCLC"
        - "ORCID"
        - "SWNL"
        - "VIAF"
        - "WKP"
        - "CMO"
        default: "VIAF"
        editor_partial: subfield_select
"040":
  layout:
    fields:
    - - a
      - read_only: true
        default: "DE-633"
    - - b
      - editor_partial: subfield_select_codes
        select_label: "Language"
        shared_codes: "languages_040"
    - - c
      - read_only: true
        default: "DE-633"
    - - d
      - read_only: true
    - - e
      - read_only: true
        default: "rismg"
"042": 
  layout: 
    fields: 
    - - a
      - values:
        - "differentiated" 
        - "undifferentiated"
        editor_partial: subfield_select
"043": 
  layout: 
    fields: 
    - - c
      - editor_partial: subfield_select_codes
        select_label: "Country"
        shared_codes: "country_codes_043"
"100": 
  layout: 
    fields: 
    - - a
      - trigger:
        - save:
          - referring_sources
          - referring_holdings
          - referring_people
          - referring_institutions
          - referring_publications
          - referring_works
    - - c
    - - d
      - trigger:
        - save:
          - referring_sources
          - referring_holdings
          - referring_people
          - referring_institutions
          - referring_publications
          - referring_works
    - - y
      - read_only: true
"375": 
  layout: 
    fields: 
    - - a
      - editor_partial: subfield_select_codes
        select_label: "Gender"
  tag_params:
    codes:
      - male
      - female
      - "unknown"
"400": 
  layout: 
    fields: 
    - - a
    - - d
    - - j
      - editor_partial: subfield_select_codes
        select_label: "Type of Variant"
  tag_params:
    codes:
      - "bn"
      - "da"
      - "do"
      - "ee"
      - "gg"
      - "in"
      - "tn"
      - "ub"
      - "xx"
      - "z"
"500": 
  new_window: people
  layout: 
    fields: 
    - - "a"
      - type: person
        editor_partial: subfield_secondary
        allow_new: true
    - - d
      - autocomplete_extra: life_dates
    - - "i"
      - editor_partial: subfield_select_codes
        select_label: "Relationship"
  tag_params:
    codes:
      - brother of
      - child of
      - mother of
      - confused with
      - sister of
      - married to
      - father of
      - related to
      - other
"510": 
  new_window: institutions
  layout: 
    fields: 
    - - "a"
      - type: institution
        editor_partial: subfield_secondary
        allow_new: true
"549": 
  layout: 
    fields: 
    - - a
"550":
  layout: 
    fields: 
    - - a
      - type: person_550a_solr
        field: value
        editor_partial: subfield_secondary
        allow_new: true
"551": 
  new_window: places
  new_window_field: name_eq
  layout: 
    fields: 
    - - a
      - type: place
        editor_partial: subfield_secondary
        allow_new: true
    - - i
      - editor_partial: subfield_select_codes
        select_label: "Type"
  tag_params:
    codes:
      - go
      - ha
      - so
      - wl
      - wo
      - wr
"599": 
  layout: 
    fields: 
    - - a
    - - b
"667": 
  layout: 
    fields: 
    - - a
      - growfield: true
"670":
  new_window: publications
  new_window_field: short_name_eq
  layout: 
    fields: 
    - - "a"
      - type: publication
        editor_partial: subfield_secondary
        allow_new: false
    - - "9"
    - - "b"
    - - "u"
"678": 
  layout: 
    fields: 
    - - a
      - growfield: true
    - - b
"680": 
  layout: 
    fields: 
    - - a
      - growfield: true
"856": 
  layout: 
    fields: 
    - - u
      - unrestricted:
          - person_restricted
    - - z
      - unrestricted:
          - person_restricted
    - - x
      - editor_partial: subfield_select_codes
        codes_reference: "codes"
  tag_params:
    codes:
      - "Online Resource"
      - "IIIF manifest"
"910":
  layout:
    fields:
    - - a
      - read_only: true
    - - "0"
      - hidden: true
    - - u
      - read_only: true