--- !map:Settings 
"001":
  tag: tag_no_subfield
  tag_params:
    read_only: true
    no_delete: true
  tag_header: none
"024": 
  layout: 
    fields: 
    - - a
    - - "2"
      - values: 
        - "BNE"
        - "BNF"
        - "DNB"
        - "ICCU"
        - "ISNI"
        - "LC"
        - "NLP"
        - "NKC"
        - "OCLC"
        - "ORCID"
        - "SWNL"
        - "VIAF"
        - "WKP"
        - "CMO"
        default: "VIAF"
        editor_partial: subfield_select
"034": 
  layout: 
    fields: 
    - - f
    - - d
"040":
  layout:
    fields:
    - - a
      - read_only: true
        default: "DE-633"
    - - b
      - editor_partial: subfield_select_codes
        select_label: "Language"
        shared_codes: "languages_040"
    - - c
      - read_only: true
        default: "DE-633"
    - - d
      - read_only: true
    - - e
      - read_only: true
        default: "rismg"
"043": 
  layout: 
    fields:
    - - "2"
      - read_only: true
        default: "rismg"
    - - b
    - - c
      - editor_partial: subfield_select_codes
        select_label: "Country"
        shared_codes: "country_codes_043"
"075": 
  layout: 
    fields: 
    - - a
    - - b
"151": 
  layout: 
    fields: 
    - - a
      - trigger:
        - save:
          - referring_sources
          - referring_holdings
          - referring_people
          - referring_institutions
          - referring_publications
          - referring_works
    - - g
      - editor_partial: subfield_select_codes
        select_label: "Language"
        shared_codes: "language_codes_041"
"370": 
  layout: 
    fields: 
    - - "0"
    - - "4"
    - - c
    - - f
"451": 
  layout: 
    fields: 
    - - a
    - - g
      - editor_partial: subfield_select_codes
        select_label: "Language"
        shared_codes: "language_codes_041"
"667": 
  layout: 
    fields: 
    - - a
      - growfield: true
"680": 
  layout: 
    fields: 
    - - a
      - growfield: true