--- !map:Settings 
"001":
  tag: tag_no_subfield
  tag_params:
    read_only: true
    no_delete: true
  tag_header: none
"024": 
  layout: 
    fields: 
    - - a
    - - "2"
      - values: 
        - "BNE"
        - "BNF"
        - "DNB"
        - "ICCU"
        - "ISNI"
        - "LC"
        - "NLP"
        - "NKC"
        - "OCLC"
        - "ORCID"
        - "SWNL"
        - "VIAF"
        - "WKP"
        - "CMO"
        default: "VIAF"
        editor_partial: subfield_select
"040":
  layout:
    fields:
    - - a
      - read_only: true
        default: "DE-633"
    - - b
      - editor_partial: subfield_select_codes
        select_label: "Language"
        codes_reference: "codes"
    - - c
      - read_only: true
        default: "DE-633"
    - - d
      - read_only: true
    - - e
      - read_only: true
        default: "rismg"
  tag_params:
    codes:
      - "eng"
      - "fre"
      - "ger"
      - "ita"
      - "por"
      - "spa"

"151": 
  layout: 
    fields: 
    - - a
      - trigger:
        - save:
          - referring_sources
          - referring_holdings
          - referring_people
          - referring_institutions
          - referring_publications
          - referring_works
"370": 
  layout: 
    fields: 
    - - c
    - - f
"451": 
  layout: 
    fields: 
    - - a
"667": 
  layout: 
    fields: 
    - - a
      - growfield: true
"678": 
  layout: 
    fields: 
    - - a
      - growfield: true
"680": 
  layout: 
    fields: 
    - - a
      - growfield: true
