--- !map:Settings 
"001":
  tag: tag_no_subfield
  tag_params:
    read_only: true
    no_delete: true
  tag_header: none
"024": 
  layout: 
    fields: 
    - - a
    - - "2"
      - values: 
        - "BNE"
        - "BNF"
        - "DNB"
        - "ICCU"
        - "ISNI"
        - "LC"
        - "NLP"
        - "NKC"
        - "OCLC"
        - "ORCID"
        - "SWNL"
        - "VIAF"
        - "WKP"
        - "CMO"
        default: "VIAF"
        editor_partial: subfield_select
"034": 
  layout: 
    fields: 
    - - f
    - - d
"040":
  layout:
    fields:
    - - a
      - read_only: true
        default: "DE-633"
    - - b
      - editor_partial: subfield_select_codes
        select_label: "Language"
        codes_reference: "codes"
    - - c
      - read_only: true
        default: "DE-633"
    - - d
      - read_only: true
    - - e
      - read_only: true
        default: "rismg"
  tag_params:
    codes:
      - "eng"
      - "fre"
      - "ger"
      - "ita"
      - "por"
      - "spa"
"043": 
  layout: 
    fields:
    - - "2"
    - - b
    - - c
      - editor_partial: subfield_select_codes
        select_label: "Country"
  tag_params:
    codes:
        - "XA-AD"
        - "XA-AL"
        - "XC-DZ"
        - "XA-AT"
        - "XA-AT-2"
        - "XA-AT-3"
        - "XA-AT-4"
        - "XA-AT-5"
        - "XA-AT-6"
        - "XA-AT-7"
        - "XA-AT-9"
        - "XB-AZ"
        - "XD-AR"
        - "XB-BD"
        - "XA-BE"
        - "XA-BY"
        - "XA-BA"
        - "XD-BO"
        - "XD-BR"
        - "XA-BG"
        - "XB-KH"
        - "XD-CA"
        - "XD-CL"
        - "XB-CN"
        - "XD-CO"
        - "XD-CR"
        - "XA-HR"
        - "XD-CU"
        - "XA-CZ"
        - "XA-DK"
        - "XD-EC"
        - "XC-EG"
        - "XA-EE"
        - "XA-FI"
        - "XA-FR"
        - "XB-GE"
        - "XC-GH"
        - "XC-GN"
        - "XD-GT"
        - "XA-DE"
        - "XA-DE-BY"
        - "XA-DE-SN"
        - "XA-GR"
        - "XD-HN"
        - "XB-HK"
        - "XA-HU"
        - "XA-IS"
        - "XB-IN"
        - "XB-ID"
        - "XB-IR"
        - "XB-IQ"
        - "XA-IE"
        - "XB-IL"
        - "XA-IT"
        - "XA-IT-32"
        - "XD-JM"
        - "XB-JP"
        - "XB-KR"
        - "XA-LV"
        - "XB-LB"
        - "XA-LI"
        - "XA-LT"
        - "XA-LU"
        - "XA-MC"
        - "XA-MD"
        - "XA-ME"
        - "XA-MK"
        - "XA-MT"
        - "XD-MX"
        - "XA-NL"
        - "XE-NZ"
        - "XD-NI"
        - "XA-GB-NIR"
        - "XA-NO"
        - "XB-PK"
        - "XE-PG"
        - "XD-PY"
        - "XD-PE"
        - "XB-PH"
        - "XA-PL"
        - "XA-PT"
        - "XD-PR"
        - "XA-RO"
        - "XA-RS"
        - "XA-RU"
        - "XB-SA"
        - "XA-SK"
        - "XA-SI"
        - "XC-ZA"
        - "XA-ES"
        - "XA-SE"
        - "XA-CH"
        - "XA-CH-VD"
        - "XA-SM"
        - "XB-SY"
        - "XB-TW"
        - "XB-TJ"
        - "XD-TT"
        - "XB-TR"
        - "XB-TM"
        - "XC-UG"
        - "XA-UA"
        - "XA-GB"
        - "XD-US"
        - "XD-UY"
        - "XB-UZ"
        - "XA-VA"
        - "XD-VE"
        - "XB-VN"
        - "XC-TN"
"075": 
  layout: 
    fields: 
    - - a
    - - b
"151": 
  layout: 
    fields: 
    - - a
      - trigger:
        - save:
          - referring_sources
          - referring_holdings
          - referring_people
          - referring_institutions
          - referring_publications
          - referring_works
    - - g
"370": 
  layout: 
    fields: 
    - - "0"
    - - "4"
    - - c
    - - f
"451": 
  layout: 
    fields: 
    - - a
    - - g
"667": 
  layout: 
    fields: 
    - - a
      - growfield: true
"680": 
  layout: 
    fields: 
    - - a
      - growfield: true