--- !map:Settings 
group_order: 
- show_summary
- show_library
- show_content
- show_distribution
- show_material
- show_information
- show_references
- show_terms
- show_resources
- show_admin
- show_links

groups: 
  
  show_summary: 
    all_tags: 
    - "100"
    - "240"
    - "383"
    - "245"
    - "246"
    - "657"
    - "730"
    - "597"
    - "930"
    - "001"
    all_tag_templates: 
      "100": marc_show/show_person
      "246": marc_show/show_title_variant  
      "930": marc_show/show_work
      "001": marc_show/show_rism_id

  show_library: 
    all_tags:
    - "852"
    - "591"
    - "506"
    - "035"
    - "541"
    all_tag_templates: 
      "852": marc_show/show_852

 
  show_content: 
    all_tags: 
    - "031"
    - "595"
    all_tag_templates: 
      "031": marc_show/show_incipit

  show_distribution:
    all_tags: 
    - "594"
    all_tag_templates: 
      "594": marc_show/show_distribution_all
      
  show_material: 
    all_tags: 
    - "593"
    - "260"
    - "518"
    - "300"
    - "590"
    - "340"
    - "028"
    - "592"
    - "700"
    - "710"
    - "500"
    - "563"
    - "856"
    subfield_grouping: 8
    all_tag_templates: 
      "260": marc_show/show_subfield_concat
      "700": marc_show/show_person
      "710": marc_show/show_institution 
      "856": marc_show/show_link

  show_information: 
    all_tags: 
    - "500"
    - "518"
    - "520"
    - "505"
    - "525"
    - "588"
    - "546"
    - "561"
    ungrouped_tags:
      "500": 8
      "518": 8

  show_references: 
    all_tags: 
    - "596"
    - "690"
    - "383"
    - "691"
    - "510"
    all_tag_templates: 
      "510": marc_show/show_subfield_concat
      "690": marc_show/show_69x_url
      "691": marc_show/show_69x_url

  show_terms: 
    all_tags: 
    - "650"
    - "041"
    - "026"
    - "700"
    - "710"
    - "651"
    all_tag_templates: 
      "026": marc_show/show_fingerprint
      "700": marc_show/show_person
      "710": marc_show/show_institution
      "752": marc_show/show_place
      "650": marc_show/show_subject
    ungrouped_tags:
      "700": 8
      "710": 8

  show_resources:
    all_tags:
    - "787"
    - "856"
    ungrouped_tags:
      "856": 8
    all_tag_templates: 
      "856": marc_show/show_link
  
  show_admin: 
    all_tags: 
    - "040"
    - "599"
    admin_only: true
    
  show_links: 
    all_tags: 
    - "774"
    - "773"
    - "775"
    template: marc_show/show_774_773_links
