--- !map:Settings
server:
  - validate_user_abilities
  - validate_links_to_self
client:
  "031":
    tags:
      "b": 
        any_of:
        - required_if: 
            "031": "a"
        - validate_031_dups
        #required_if:
        #  "031": "a"
      "c":
        any_of:
        - required_if: 
            "031": "a"
        - validate_031_dups
        #required_if:
        #  "031": "a"
  "041":
    tags:
      a:
        required_if:
          "041": "h"
  "100":
    tag_overrides:
      exclude:
        "0":
          - collection
          - composite_volume
          - edition
          - libretto_edition
          - theoretica_edition
          - inventory
          - inventory_edition
    tags:
      "0": mandatory
  "240":
    tag_overrides:
      exclude:
        m:
        - collection
        - theoretica_source
        - libretto_edition 
        - composite_volume
    tags:
      "0": mandatory
      m: required, warning
  "245": 
    tags:
      a: mandatory
  "260":
    tag_overrides:
      exclude:
        "c":
        - composite_volume
    tags:
      c: required
  "300": 
    tag_overrides:
      exclude:
        "a":
        - composite_volume
    tags:
      a: required
  "510":
    tags:
      a: required
      c: required
  "588":
    tag_overrides:
      exclude:
        "a":
        - collection
        - composite_volume
        - edition_content
        - source
        - libretto_source
        - theoretica_source
        - libretto_edition_content
        - theoretica_edition_content
        - inventory
        - inventory_edition
    tags:
      "a":
        any_of:
          #- must_contain: "-"
          - validate_588_siglum
          - mandatory
  "593":
    tags:
      a: 
        any_of:
          - check_group
          - mandatory
      b: mandatory
  "594": 
    tag_overrides:
      exclude:
        "b":
        - composite_volume
    tags:
      b: required
  "596":
    tags:
      a: required
      b: required
  "650":
    tag_overrides:
      exclude:
        "0":
        - collection
        - composite_volume
    tags:
      "0": mandatory
  "690":
    tags:
      "0": required
      n:
        required_if:
          "690": "0"
  "691":
    tags:
      "0": required
  "700": 
    tags:
      "0": required
      "4":
        required_if:
          "700": "0"
  "710": 
    tags:
      "0": required
      "4":
        required_if:
          "710": "0"
  "730":
    tags:
      "0": required
  "787": 
    tags:
      "n": required
      "w": required
      "4": required
  "773":
    tag_overrides:
      exclude:
        "w":
        - collection
        - source
        - libretto_source
        - libretto_edition
        - theoretica_source
        - theoretica_edition
        - edition
        - composite_volume
        - inventory
        - inventory_edition
    tags:
      'w': mandatory
  "852":
    tag_overrides:
      exclude:
        "x":
        - edition
        - edition_content
        - libretto_edition
        - libretto_edition_content
        - theoretica_edition
        - theoretica_edition_content
        - inventory_edition
        "c":
        - edition
        - edition_content
        - libretto_edition
        - libretto_edition_content
        - theoretica_edition
        - theoretica_edition_content
        - inventory_edition
    tags:
      c: mandatory
      x: mandatory
  "856": 
    tags:
      u:
        any_of:
          - validate_url
          #- begins_with: "http"
          - required
      z:
        required_if:
          "856": "u"
      x:
        required_if:
          "856": "u"