--- !map:Settings 
"000": 
  tag: tag_no_subfield
  tag_params: 
    editor_only: true
  tag_header: none
"001": 
  tag: tag_no_subfield
  tag_params: 
    read_only: true
    no_delete: true
  tag_header: none
"024": 
  layout: 
    fields: 
    - - a
    - - "2"
      - values: 
        - "BNE"
        - "BNF"
        - "DNB"
        - "ICCU"
        - "ISNI"
        - "LC"
        - "NLP"
        - "NKC"
        - "SWNL"
        - "VIAF"
        - "WKP"
        default: "VIAF"
        editor_partial: subfield_select
"031": 
  new_window: standard_titles
  new_window_field: title_equals
  layout: 
    fields:
    - - u
      - hidden: true
    - - a
    - - b
    - - c
    - - d
    - - m
    - - e
    - - t
      - growfield: true
        type: standard_title
        field: title
        editor_partial: subfield_secondary
        allow_new: true
        has_links_to: true
    - - r
      - editor_partial: subfield_select_codes
        codes_reference: "031r"
    - - n
      - values: 
        - "xF"
        - "xFC"
        - "xFCG"
        - "xFCGD"
        - "xFCGDA"
        - "xFCGDAE"
        - "xFCGDAEB"
        - "bB"
        - "bBE"
        - "bBEA"
        - "bBEAD"
        - "bBEADG"
        - "bBEADGC"
        - "bBEADGCF"
        editor_partial: subfield_autocomplete
    - - o
    - - g
      - editor_partial: subfield_select_codes_grouped
        codes_reference: clef_groups
    - - s
    - - p
      - editor_partial: subfield_pae
    - - q
    - - z
  tag_params:
    031r:
      - "A"
      - "a"
      - "A|x"
      - "a|x"
      - "A|b"
      - "a|b"
      - "B"
      - "b"
      - "B|b"
      - "b|b"
      - "C"
      - "c"
      - "C|x"
      - "c|x"
      - "C|b"
      - "c|b"
      - "D"
      - "d"
      - "D|x"
      - "d|x"
      - "D|b"
      - "d|b"
      - "E"
      - "e"
      - "E|b"
      - "e|b"
      - "F"
      - "f"
      - "F|x"
      - "f|x"
      - "G"
      - "g"
      - "G|x"
      - "g|x"
      - "G|b"
      - "g|b" 
      - "1t"
      - "2t"
      - "3t"
      - "4t"
      - "5t"
      - "6t"
      - "7t"
      - "8t"
      - "9t"
      - "10t"
      - "11t"
      - "12t"
      - "1byz"
      - "2byz"
      - "3byz"
      - "4byz"
      - "5byz"
      - "6byz"
      - "7byz"
      - "8byz"
    clef_groups:
      01_modern_clefs:
      - C-1
      - C-2
      - C-3
      - C-4
      - C-5
      - F-1
      - F-2
      - F-3
      - F-4
      - F-5
      - G-1
      - G-2
      - G-3
      - G-4
      - G-5
      - g-2
      02_mensural_clefs:
      - C+1
      - C+2
      - C+3
      - C+4
      - C+5
      - F+1
      - F+2
      - F+3
      - F+4
      - F+5
      - G+1
      - G+2
      - G+3
      - G+4
      - G+5
"033": 
  layout: 
    fields: 
    - - indicator
      - editor_partial: subfield_indicator
    - - a
"040": 
  layout: 
    fields: 
    - - a
    - - c
    - - d
    - - b
"046": 
  layout: 
    fields: 
    - - k
    - - l
    - - z
"100":
  new_window: people
  new_window_field: full_name_equals
  layout:
    fields:
    - - a
      - type: person
        editor_partial: subfield_secondary
        allow_new: true
    - - d
      - autocomplete_extra: life_dates
"130":
  new_window: standard_titles
  new_window_field: title_equals
  layout:
    fields:
    - - a
      - type: standard_title
        editor_partial: subfield_secondary
        allow_new: true
    - - r
      - editor_partial: subfield_select_codes
        codes_reference: "130r"
    - - m
  tag_params:
    130r:
      - "A"
      - "a"
      - "A|x"
      - "a|x"
      - "A|b"
      - "a|b"
      - "B"
      - "b"
      - "B|b"
      - "b|b"
      - "C"
      - "c"
      - "C|x"
      - "c|x"
      - "C|b"
      - "c|b"
      - "D"
      - "d"
      - "D|x"
      - "d|x"
      - "D|b"
      - "d|b"
      - "E"
      - "e"
      - "E|b"
      - "e|b"
      - "F"
      - "f"
      - "F|x"
      - "f|x"
      - "G"
      - "g"
      - "G|x"
      - "g|x"
      - "G|b"
      - "g|b"
      - "1t"
      - "2t"
      - "3t"
      - "4t"
      - "5t"
      - "6t"
      - "7t"
      - "8t"
      - "9t"
      - "10t"
      - "11t"
      - "12t"
      - "1tt"
      - "2tt"
      - "3tt"
      - "4tt"
      - "5tt"
      - "6tt"
      - "7tt"
      - "8tt"
      - "9tt"
      - "10tt"
      - "11tt"
      - "12tt"
      - "1byz"
      - "2byz"
      - "3byz"
      - "4byz"
      - "5byz"
      - "6byz"
      - "7byz"
      - "8byz"
"370": 
  allow_new: true
  layout: 
    fields: 
    - - "g"
      - type: place
        editor_partial: subfield_secondary
    - - i
"380": 
  allow_new: true
  new_window: standard_terms
  layout: 
    fields: 
    - - "a"
      - type: standard_term
        editor_partial: subfield_secondary
"383": 
  layout: 
    fields: 
    - - b
"430": 
  new_window: standard_titles
  new_window_field: title_equals
  layout:
    fields:
    - - a
      - type: standard_title
        editor_partial: subfield_secondary
        allow_new: true
    - - r
      - editor_partial: subfield_select_codes
        codes_reference: "430r"
    - - m
    - - p
    - - s
  tag_params:
    430r:
      - "A"
      - "a"
      - "A|x"
      - "a|x"
      - "A|b"
      - "a|b"
      - "B"
      - "b"
      - "B|b"
      - "b|b"
      - "C"
      - "c"
      - "C|x"
      - "c|x"
      - "C|b"
      - "c|b"
      - "D"
      - "d"
      - "D|x"
      - "d|x"
      - "D|b"
      - "d|b"
      - "E"
      - "e"
      - "E|b"
      - "e|b"
      - "F"
      - "f"
      - "F|x"
      - "f|x"
      - "G"
      - "g"
      - "G|x"
      - "g|x"
      - "G|b"
      - "g|b"
      - "1t"
      - "2t"
      - "3t"
      - "4t"
      - "5t"
      - "6t"
      - "7t"
      - "8t"
      - "9t"
      - "10t"
      - "11t"
      - "12t"
      - "1tt"
      - "2tt"
      - "3tt"
      - "4tt"
      - "5tt"
      - "6tt"
      - "7tt"
      - "8tt"
      - "9tt"
      - "10tt"
      - "11tt"
      - "12tt"
      - "1byz"
      - "2byz"
      - "3byz"
      - "4byz"
      - "5byz"
      - "6byz"
      - "7byz"
      - "8byz"
"500": 
  allow_new: true
  new_window: people
  layout: 
    fields: 
    - - "a"
      - type: person
        editor_partial: subfield_secondary
    - - d
    - - e
"667": 
  layout: 
    fields: 
    - - a
"670": 
  allow_new: true
  new_window: publications
  layout: 
    fields: 
    - - "a"
      - type: publication
        editor_partial: subfield_secondary
    - - "b"
"675": 
  allow_new: true
  new_window: publications
  layout: 
    fields: 
    - - "a"
      - type: publication
        editor_partial: subfield_secondary
"680": 
  layout: 
    fields: 
    - - a
      - growfield: true
"690": 
  new_window: publications
  new_window_field: name_equals
  layout: 
    fields: 
    - - a
      - type: publication
        editor_partial: subfield_secondary
        allow_new: false
    - - n
"691": 
  new_window: publications
  new_window_field: name_equals
  layout: 
    fields: 
    - - a
      - type: publication
        editor_partial: subfield_secondary
        allow_new: false
    - - n
"699": 
  layout: 
    fields:
    - - a
      - cols: 2
        editor_partial: subfield_select_codes
        select_label: "Type"
    - - b
      - cols: 2
    columns: 2
  tag_params:
    codes:
      - "needs-revision" 
      - "incipit-needs-revision"
      - "incipit-replace"
"700":
  allow_new: true
  new_window: people
  layout:
    fields: 
    - - a
      - type: person
        editor_partial: subfield_secondary
    - - "4"
      - editor_partial: subfield_select_codes
        select_label: "Function"
        codes_reference: "relator_codes"
  tag_params: 
    relator_codes: 
    - cmp
    - dte
    - asn
    - lbt
    - lyr
    - oth
"710":
  new_window: institutions
  new_window_field: name_equals
  layout: 
    fields: 
    - - a
      - type: institution
        editor_partial: subfield_secondary
        allow_new: true
    - - b
    - - g
      - editor_partial: subfield_select_codes
        codes_reference: "codes"
    - - "4"
      - editor_partial: subfield_select_codes
        select_label: "Function"
        codes_reference: "relator_codes"
  tag_params: 
    codes:
      - "Ascertained"
      - "Alleged"
      - "Conjectural"
      - "Doubtful"
      - "Misattributed"
    relator_codes: 
      - dte
      - oth
"747": 
  allow_new: true
  new_window: liturgical_feasts
  layout: 
    fields: 
    - - "a"
      - type: liturgical_feast
        editor_partial: subfield_secondary