--- !map:Settings
"001":
  tag: tag_no_subfield
  tag_params:
    read_only: true
    no_delete: true
  tag_header: none
"024": 
  tag_params: 
    no_delete: true
  layout: 
    fields: 
    - - a
    - - "2"
      - values: 
        - "BNE"
        - "BNF"
        - "DNB"
        - "ICCU"
        - "ISNI"
        - "LC"
        - "NLP"
        - "NKC"
        - "SWNL"
        - "VIAF"
        - "WKP"
        default: "DNB"
        editor_partial: subfield_select
"040":
  layout:
    fields:
    - - a
      - read_only: true
        default: "DE-633"
    - - b
      - editor_partial: subfield_select_codes
        select_label: "Language"
        codes_reference: "codes"
    - - c
      - read_only: true
        default: "DE-633"
    - - d
      - read_only: true
    - - e
      - read_only: true
        default: "rismg"
  tag_params:
    codes:
      - "eng"
      - "fre"
      - "ger"
      - "ita"
      - "por"
      - "spa"
"100":
  new_window: people
  new_window_field: full_name_eq
  layout: 
    fields: 
    - - a
      - type: person
        editor_partial: subfield_secondary
        allow_new: true
    - - d
      - autocomplete_extra: life_dates
    - - m
      - trigger:
        - save:
          - referring_sources
    - - n
      - trigger:
        - save:
          - referring_sources
    - - r
      - editor_partial: subfield_select_codes
        codes_reference: "100r"
      - trigger:
        - save:
          - referring_sources
    - - t
      - trigger:
        - save:
          - referring_sources
    - - p
      - trigger:
        - save:
          - referring_sources
  tag_params:
      100r:
      - "A"
      - "a"
      - "A|x"
      - "a|x"
      - "A|b"
      - "a|b"
      - "B"
      - "b"
      - "B|b"
      - "b|b"
      - "C"
      - "c"
      - "C|x"
      - "c|x"
      - "C|b"
      - "c|b"
      - "D"
      - "d"
      - "D|x"
      - "d|x"
      - "D|b"
      - "d|b"
      - "E"
      - "e"
      - "E|b"
      - "e|b"
      - "F"
      - "f"
      - "F|x"
      - "f|x"
      - "G"
      - "g"
      - "G|x"
      - "g|x"
      - "G|b"
      - "g|b"
      - "1t"
      - "2t"
      - "3t"
      - "4t"
      - "5t"
      - "6t"
      - "7t"
      - "8t"
      - "9t"
      - "10t"
      - "11t"
      - "12t"
      - "1tt"
      - "2tt"
      - "3tt"
      - "4tt"
      - "5tt"
      - "6tt"
      - "7tt"
      - "8tt"
      - "9tt"
      - "10tt"
      - "11tt"
      - "12tt"
      - "1byz"
      - "2byz"
      - "3byz"
      - "4byz"
      - "5byz"
      - "6byz"
      - "7byz"
      - "8byz"
"667": 
  layout: 
    fields: 
    - - a