

// Colors, etc 
// RISM-CH color
$primary-color: #6E3621 !default;

// Reset it to the active admin default color
$section-header-text-color: #5E6469 !default;

// default button color set to primary color
$brand-primary: $primary-color;

// Font size
//$font-size-base: 12px !default;

// Text color in the menu bar
//$navbar-height: 78px;
//$navbar-inverse-link-color: #cdcdcd;

@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'blacklight/blacklight';
