

// Colors, etc
@import "muscat-custom";

// Import the active_admin mixins, e.g., for gradient definitions
@import "active_admin/mixins";

// gradient for header-navbar
#header-navbar { 
	@include primary-gradient;
}

// default button color set to primary color
$brand-primary: $primary-color;

// Font size
//$font-size-base: 12px !default;

// Text color in the menu bar
$navbar-height: 78px;
$navbar-inverse-link-color: #cdcdcd;
//$navbar-padding-horizontal:  -25px !default;
//$navbar-inverse-link-hover-bg: #f00;

@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'blacklight/blacklight';

.pagination li a {
	padding: 3px 10px;
}

#header-navbar {
    padding-left: 30px;
}

#header-navbar .navbar-brand {
  /* The main logo image for the Blacklight instance */
  background: transparent url('/images/logo2.png') no-repeat top left;
  margin-top: 6px;
  height: 60px;
}