
table.marc_editor_add_tag {
	margin-bottom: 0px !important;
}

.marc_editor_grid_panel {
	padding: 13px !important;
	padding-top: 6px !important;
	margin-top: 12px !important;
	border: 1px solid #ccc;
}

.marc_editor_grid_panel table.tag_grid {
	margin-bottom: 0px !important;
}

dl.marc_editor_tag_block {
	margin-bottom: 0px !important;
}

dl.marc_editor_tag_block dt {
	background-color: #ebebeb;
}

.marc_editor_grid_panel table.tag_grid td {
	vertical-align: top;
}

.marc_editor_grid_panel table.tag_grid th, 
.marc_editor_grid_panel table.tag_grid td {
	padding: 0px 4px !important;

}
.marc_editor_grid_panel input,
.marc_editor_grid_panel select,
.marc_editor_grid_panel textarea {
	width: calc(100% - 15px) !important;
}

.marc_editor_grid_panel input,
.marc_editor_grid_panel select {
	font-size: 1em;
}

.marc_editor_grid_panel select {
	margin-top: 5px;
	width: calc(100%) !important;
}

.marc_editor_grid_panel .grid_cell {
	padding: 4px;
}
.marc_editor_grid_panel .grid_cell_header {
	padding: 2px;
	overflow: none;
/*	letter-spacing: 0.02em;*/
	color: #5e6469;
	font-weight: bold;
	padding-bottom: 5px !important;
}

.marc_editor_grid_panel .grid_cell_header a {
	text-decoration: none;
}

.marc_editor_grid_internal_layout {
	width: 100%;
	padding: 0px !important; 
	margin: 0px !important;
}
.marc_editor_grid_panel table.marc_editor_grid_internal_layout tr,
.marc_editor_grid_panel table.marc_editor_grid_internal_layout td {
	padding: 0;
	margin: 0;
}
.marc_editor_pae_info { margin-left: 1px; margin-top: 3px; border: #aaa solid 1px; height: 2em; background-color: white }

.marc_editor_grid_tag_tab {
	position: relative;
	top: -7px;
	left: -13px;
	height: 30px;
	max-height: 30px;
	line-height: 28px;
	background-color: #bbb;
	width: 300px;
	background-image:url('/images/tagtab.gif');
	background-repeat: no-repeat;
	background-position: center right;
}
.marc_editor_grid_tag_tab span {
	padding-left: 8px;
}

.marc_editor_button_pad_left {
	margin-left: 4px !important;
}

.sidebar_section {
	position: fixed;
	width: 270px;
}

.sidebar_section ul {
	list-style-type: none;
	padding-left: 0px;
}

// This stuff is copied from cutters wheels
// should be replaced at some point

/****************************/
/* JQUERY UI BUTTONS 		*/
/****************************/
/* UI THEMED BUTTONS/LINKS based on http://www.filamentgroup.com/examples/buttonFrameworkCSS/ -- http://www.filamentgroup.com/lab/styling_buttons_and_toolbars_with_the_jquery_ui_css_framework/ */

.abutton,
.abutton_condensed { 
   outline: 0; 
   margin:0 4px 0 0; 
   padding: .35em .6em; 
   text-decoration:none !important; 
   cursor:pointer; 
   position: relative; 
/*   text-align: center;*/
   zoom: 1;
   /* So the buttons are always the same height */
   line-height: 1.2em;
}



.abutton .ui-icon,
.abutton_condensed .ui-icon { 
	position: absolute;
	top: 50%;
	margin-top: -8px;
	left: 50%;
	margin-left: -8px;
}

a.abutton { float: left; }

button.abutton { width:auto; overflow:visible; }
button.abutton_condensed { 
	width:auto;
	overflow:visible;
	height: 22px;
	width: 22px !important;
	padding: 0;
	margin: 0;
}
button.abutton_condensed .ui-icon {
	left: 7px !important;
	top: 7px !important;
}
.abutton_condensed { 
   margin: 0;
   padding: 3px;
}

.abutton-icon-left { padding-left: 2.1em; }
.abutton-icon-right { padding-right: 2.1em; }
.abutton-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
.abutton-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }

.abutton-icon-solo { display:block; width:8px; text-indent: -9999px; } /* solo icon buttons must have block properties for the text-indent to work */

button.abutton-icon-left .ui-icon {left: -0.1em;}
button.abutton-icon-right .ui-icon {right: 1.7em;}
button.abutton-icon-solo .ui-icon {left: 0;} 

.abuttonset { float:left; }
.abuttonset .abutton { float: left; }
.abuttonset-single .abutton,
.abuttonset-multi .abutton { margin-right: -1px; }
