body {
  font-size: 12px !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.muscat_panel {
  	padding-bottom: 25px !important;
}

// make active admin fields more compact
body.active_admin table.index_table td {
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}

body.active_admin form fieldset ol > li {
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}

// reduce the title bar h2 size and vertical padding
#title_bar h2 {
	font-size: 1.8em;
}

#title_bar {
	padding: 8px 30px;
}

#titlebar_left, #titlebar_right {
	height: 45px !important;
}

body.active_admin {
    min-width: 960px;
}