
// RISM-CH color
//$primary-color: #6E3621 !default;

// RISM-ZR color
$primary-color: #1B4E7D !default;

$table-stripe-color: lighten($primary-color, 70%) !default;
$link-color: $primary-color !default;

// Reset it to the active admin default color
$section-header-text-color: #5E6469 !default;
