@import 'variables';

/* require for verovio output with bootstrap */
svg:not(:root){
	overflow:inherit
}

#search-navbar {
    background: image-url("paper-96-R.png");
    height: 120px;
    border-bottom: solid 2px $gray30;
}
#search-navbar.advanced {
    height: 30px;
}

.navbar {
    min-height: $brandbar-height !important;
}

#header-navbar {
    &.navbar-inverse {
        background-color: $rismColor;
        border-color: $darkRismColor;
        .navbar-nav > li > a {
            color: #ddd;
            padding-top: 15px;
            padding-bottom: 0;
        }
        .navbar-nav > .open > a,
        .navbar-inverse .navbar-nav > .open > a:hover,
        .navbar-inverse .navbar-nav > .open > a:focus {
            background-color: $rismColor;
        }

    }
    .navbar-brand {/* The main logo image for the Blacklight instance */
        height: $brandbar-height;
    }
    .slogan {
        padding-left: 10px;
        padding-top: 6px;
        a:active, a:hover {
            text-decoration: none;
        }
        .slogan-top {
            font-size: 14px;
            color: $gray0;
        }
        .slogan-bottom {
            font-size: 12px;
            color: $gray30;
        }

    }

}

#search-navbar {
    .search-navbar-logo {
        padding-top: 10px;
        padding-left: 70px;
    }
    .search-navbar-right {
        padding-right: 0px;
    }
    .search-navbar-locale {
        @media screen and (min-width: 768px) {
            padding-top: 5px;
            height: 20px;
        }
        @media screen and (max-width: 767px) {
            padding-top: 5px;
            padding-bottom: 6px;
        }
        a {
            border-right: solid 1px $gray75;
            padding-right: 4px;
            color: $gray75;
        }
        a:last-child {
            border-right: none;
            padding-right: 0px;
        }
    }
    .search-navbar-text {
        clear: both;
        form {
            margin-top: 0px;
            padding-top: 5px;
        }
        @media screen and (min-width: 768px) {
            padding-top: 22px;
        }
    }
    .search-input-group {
        width: 500px;
        @media (max-width: 767px) {
            width: auto;
        }

    }
    .search-query-form {
        @extend .col-md-12;
        padding-left: 0;
    }

}

button#search {
    background-color: $gray75;
    border-color: $gray75;
    .glyphicon-search {
        color: $gray60;
    }

}

// Global //
body {
    background-color: $gray5;
    font-family: Helvetica, Arial, sans-serif;
    #main-container {
        margin-bottom: $footer-height;
    }
}

a {
    color: $link-color;
    &:active, &:hover {
        color: $link-color;
    }

}

.sidenav a, p a, .content-block p > a, ol li > a {
    color: $rismColor;
    &:active, &:hover {
        color: $rismColor;
        text-decoration: dotted;
    }

}

p, li {
    color: $gray;
    line-height: 1.6;
    padding: 0 0 11px;
}

#main-container h1 {
    font-size: 26px;
    // margin-left: 12px;
    margin-top: 8px;
}

h2 {
    font-size: 20px;
    border-bottom: 1px solid #eae9e6;
    padding-bottom: 5px;
}

.pagination > .active > a, .pagination > .active > a:hover {
    background-color: #5f574f;
    border-color: $gray100;
}

// Welcome and advanced search
h3.welcome {
    margin-bottom: 25px;
}

p.welcome-tip {
    margin-left: 5px;
    padding-left: 25px;
    background: image-url("/images/list.png") no-repeat;
}

p.search-tip {
    margin-left: 5px;
    padding-left: 25px;
    padding-bottom: 2px;
    background: image-url("/images/list.png") no-repeat;
}

// Facets //
.facets > div > h4 {
   @media (max-width: $screen-sm-min) {
        padding-left: 20px;
   }
}

.top-panel-heading {
    padding-left: 0;
}

h5.panel-title > a {
    color: $gray90;
    &:active, &:hover {
        color: $link-color;
        text-decoration: none;
    }

}

.panel-default > .panel-heading {
    color: $gray90;
    background-color: $gray15;
}

.panel-success > .panel-heading, .facet_limit-active > .panel-heading {
    color: $gray90;
    background-color: $gray15;
    border-color: $gray25;
}

.panel-success, .facet_limit-active {
    border-color: $gray25;
}

.facet_limit-active > .panel-heading + .panel-collapse > .panel-body {
    border-color: $gray25;
}

.facet-values li .selected {
    color: $link-color;
}

// Results Page //
.dropdown-toggle.btn-default:hover, .dropdown-toggle.btn-default:active {
    background-color: $gray15;
}

.dropdown-menu > li > a, .dropdown-menu > li > a {
    color: $rismColor;
    &:hover, &:focus {
        background-color: $gray10;
        color: $rismColor;
    }

}

div.document {
    margin-top: 0px !important;
    padding-bottom: 6px;
}
div.document:last-child {
    margin-bottom: 6px;
}

form.bookmark_toggle {
    display: none;
}

h5.index_title {
    font-size: 16px;
    a {
        border-bottom: 1px dotted $gray85;
        text-decoration: none;
    }

}

// Catalog Show Page //
.blacklight-catalog-show {
    #content {
        width: 100%;
    }
    // We want to hide the sidebar
    #sidebar {
        display: none;
    }

}

#document {
    .panel {
        background-color: transparent;
        padding-bottom: 10px;
        border-bottom: solid 1px $gray15;
        box-shadow: none;
        margin-bottom: 0px;
        .attributes_table td, .attributes_table th {
            padding-top: 5px !important;
            vertical-align: top;
        }
        .attributes_table th:first-child {
            @media (max-width: $screen-sm-min) {
                min-width: 100px;
                padding-right: 10px;
            }
            @media (min-width: $screen-sm-min) {
                min-width: 200px;
                padding-right: 30px;
            }
        }
    }
    .panel:last-child {
        border-bottom: 0px;
    }
}

// Search history
table.search_history {
    margin-top: 60px;
}

// Site Footer //
footer {
    background-color: $gray20;
    border-top: 1px solid $gray30;
    .rism-footer-text {
        min-height: $footer-height;
        padding: 5px 0px;
    }
}

// MEI output
#mei-output {
    border: $gray10 solid 1px;
    border-style:inset;
    background-color: $gray0;
    padding: 5px;
    margin-bottom: 50px;
    overflow: auto; 
    width: auto; 
    max-height: 600px; 
    word-wrap: normal; 
    display: none;
}

#mei-html-output {
    display: none;
}

.highlight { background-color:#FFFF00; }