<div class="panel tab_panel">
  <div class="guidelines_panel_content">
    <div class="guidelines">
      
      <h3>How to use Notifications</h3>
      <p>The notifications box permits to insert some patterns that, when matches, will send a notification to the user.<br>
        For example, a pattern can be made so that every time a source in CH-BEl is saved the user receives a notification:</p>
        <pre>lib_siglum:CH-BEl</pre>
        <i>Note that there is no space after the colon.</i> 
        One rule per each line will be evaluated separately:
<pre>lib_siglum:CH-BEl
composer:Bach</pre>
          Means: create a notification for each modified source with lib_siglum CH-BEl, create a notification for each modified source with composer Bach.<br>

          Multiple rules on the same line will be ANDed together, so for example:
          <pre>lib_siglum:CH* composer:Bach*</pre>
          Will get result in only the sources that are in CH and with the name starting with Bach. Rules can be repeated, so this is also valid:
          <pre>lib_siglum:CH* composer:Bach*
lib_siglum:CH*</pre>

          In this case the notification will contain two lists, one for the "generic" CH* and one for the more "specific" rule.
          
          <h3>Specifying the object</h3>
          If the item is not a Source, the type can be specified at the beginning of the rule line, such as
          <pre>work composer:Bach*
institution name:British*</pre>
          If the object type is not specified, Source is automatically implied. If the object is repeated, only the first occurrance is considered.
          
          <h3>Wildcards and spaces</h3>
          Rules can include wildcards:
          <pre>lib_siglum:CH*</pre>
          Create a notification for each source with lib_siglum beginning with CH.<br>
          Rules containing spaces must be enclosed into quotation marks "":
          <pre>composer:"Bach, Johann Sebastian"</pre> or
          <pre>composer:"Bach, Johann*"</pre>
          Note that the field name <i>must never be enclosed in quotes</i>. If the quotation marks are missing, only the first work will match, and the others ignored

          <h3>Available objects and fields</h3>
          <h4>Source</h4>
          <p>
            <ul>
              <li><b>record_type</b> <i>Record type</i>, any of collection, source, edition_content, libretto_source, libretto_edition, theoretica_source, theoretica_edition, edition, libretto_edition_content, theoretica_edition_content, composite_volume</li>
              <li><b>std_title</b> <i>Standardized title</i></li>
              <li><b>composer</b> <i>Composer full name</i></li>
              <li><b>title</b> <i>Title on source</i></li>
              <li><b>shelf_mark</b> <i>Library shelf mark</i></li>
              <li><b>lib_siglum</b> <i>Library siglum</i></li>
            </ul>
          </p>
          Example: <pre>source record_type:edition lib_siglum:CH* composer:Bach* std_title:"6 Fugues"</pre>

          <h4>Work</h4>
          <p>
            <ul>
              <li><b>title</b> <i>Work title</i></li>
              <li><b>composer</b> <i>Composer name</i></li>
              <li><b>form</b> <i>Work form</i></li>
              <li><b>notes</b> <i>Anything in the notes field</i></li>
            </ul>
          </p>
          Example: <pre>work composer:"Bach, Albert*"</pre>

          <h4>Institution</h4>
          <p>
            <ul>
              <li><b>siglum</b> <i>Institution sigla</i></li>
              <li><b>name</b> <i>Institution name</i></li>
              <li><b>address</b> <i>Institution address</i></li>
              <li><b>place</b> <i>Evt. institution city</i></li>
              <li><b>comments</b> <i>Anything in the comments field</i></li>
              <li><b>alternates</b> <i>Alternate names</i></li>
              <li><b>notes</b> <i>Anything in the notes field</i></li>
            </ul>
          </p>
          Example: <pre>institution name:Universitätsbibliothek*</pre>

          <h3>Notification frequency</h3>

          The pop-up selector under the field chooses the cadence with which the notifications are made:
          <p>
            <ul>
              <li><b>each</b> Send a notification each time a source is saved (with a grace period of one hour to filter multiple saves)</li>
              <li><b>daily</b> A list of the modified sources is sent each day</li>
              <li><b>title</b> A list of the modified sources is sent each week</li>
              <li><b>no selection</b> Notifications are disabled</li>
            </ul>
          </p>
          
    </div>
  </div>
</div>