<div class="panel tab_panel">
  <div class="guidelines_panel_content">
    <div class="guidelines">
      
      <h3>Come usare le notifiche</h3>
      <p>Le notifiche permettono di inserire dei regole testuali che, se viene trovata corrispondenza, inviano una notifica all'utente quando la fonte corrispondente viene salvata.<br>
        Per esempio, con questa regola ogni volta che una fonte avente la siglia della biblioteca CH-BEl viene salvata, il sistema inoltrerà una notifica:</p>
        <pre>lib_siglum:CH-BEl</pre>
        <b>Si noti che non c'è spazio dopo i due punti. </b>
        Le regole devono essere inserite una per riga, ognuna corrispondente ad una notifica diversa:
<pre>lib_siglum:CH-BEl
composer:Bach</pre>
          Vuol dire: crea una notifica per ogni fonte con lib_siglum CH-BEl modificata, crea una notifica per ogni fonte con composer Bach modificata.<br>
          Le regole possono includere wildcards:
          <pre>lib_siglum:CH*</pre>
          Crea una notifica ogni volta che una fonte con lib_siglum che inizia con CH viene salvata.<br>
          Al momento le notifiche sono possibili solo per le fonti (<b>Sources</b>) e per i seguenti campi:
          <p>
            <ul>
              <li><b>std_title</b> <i>Titolo standardizzato</i></li>
              <li><b>composer</b> <i>Nome standardizzato del compositore</i></li>
              <li><b>title</b> <i>Titolo sulla fonte</i></li>
              <li><b>shelf_mark</b> <i>Segnatura della biblioteca</i></li>
            </ul>
          </p>
          
          La lista pop-up permette di scegliere la cadenza globale delle notifiche:
          <p>
            <ul>
              <li><b>each</b> Invia una notifica ogni volta che una fonte è salvata (con un periodo di grazia di un ora per evitare salvataggi multipli ravvicinati)</li>
              <li><b>daily</b> Una lista con tutte le fonti è inviata giornalmente</li>
              <li><b>title</b> Una lista con tutte le fonti è inviata settimanalmente</li>
              <li><b>nessuna selezione</b> Le notifiche sono disabilitate</li>
            </ul>
          </p>
          
    </div>
  </div>
</div>