<!DOCTYPE html>
<html>
  <head>
    <style>
      ins {
        text-decoration: none;
        background-color: #d4fcbc;
      }
      del {
        text-decoration: none;
        background-color: #fbb6c2;
        color: #555;
      }
    </style>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
